[2020-04-22 09:38] jjw24 opened #2 "Update issue template"
Update Flow.Launcher\ISSUE_TEMPLATE.md

[2020-04-22 09:38] jjw24 opened #3 "Update readme"
- [x] Update text: https://github.com/Flow-Launcher/Flow.Launcher/pull/21

- [ ] Add gif for showcasing current features

[2020-04-22 09:38] jjw24 opened #4 "New logo for Flow Launcher"

[2020-04-22 10:42] jjw24 opened #5 "Fix Process.Start of url in about tab in settings"
![image](https://user-images.githubusercontent.com/26427004/79972695-b2c13e80-84d9-11ea-995b-e3981113d773.png)

[2020-04-22 11:55] Kalaschnik commented on #4
I was playing around with Illustrator earlier this day (ignore the Edge logo in it, I just like the color theme)... maybe this one possible direction?  However, not sure if it is salient for people to recognize that the L in FL is mirrored F⅃. Could be easily confused with a J.

![image](https://user-images.githubusercontent.com/9831678/79977814-25f98f00-849f-11ea-8866-24a96cc7ae25.png)

[2020-04-22 12:16] jjw24 commented on #4
Love it, you are a legend! The color scheme is on point. I like the first one too, I can see what you mean with the 'L' but what draws me to it is that it sort of flows back around all connected. Looks like a water drop.

Or I think the 'fl' below the edge logo is pretty good as well.

[2020-04-22 12:21] Kalaschnik commented on #4
Thank you, I had some "flowyness" in mind while doing the first. Typographically, "fl" forms also a ligature, maybe this can also be used. I can up with some other stuff on the weekend.

[2020-04-22 22:24] jjw24 opened #6 "Add how to use the launcher"
How to use the launcher for an absolute beginner, this can be:
- a page on the documentation site, or
- a pop up window when flow launches for the first time to guide the user on changing the default hotkey, etc.

[2020-04-22 22:24] jjw24 opened #7 "Add development guide wiki"

[2020-04-22 22:25] jjw24 opened #8 "Fix Camera UWP app not loaded"
Fix Camera UWP app not loaded

https://github.com/jjw24/Wox/issues/179

[2020-04-22 22:26] jjw24 opened #9 "Better error handling when launcher update fails"
Better error handling

https://github.com/jjw24/Wox/issues/184

[2020-04-22 22:28] jjw24 opened #10 "Update text message in launcher update"
Update text message in launcher update

![image](https://user-images.githubusercontent.com/26427004/80039958-5f340c80-853c-11ea-94aa-de500d797f6d.png)

https://github.com/jjw24/Wox/issues/184

[2020-04-22 23:02] jjw24 opened #11 "New look for the launcher"
New UI for:

- main query window

- settings page for the launcher and plugins

Suggestions and mock-ups are very welcome

[2020-04-23 08:29] Kalaschnik opened #12 "Exact wording: Flow Launcher vs FlowLauncher"
Is it `Flow Launcher`?

[2020-04-23 08:35] jjw24 commented on #12
Flow Launcher is the full name,

FlowLauncher/flowlauncher/flow.launcher/flow.launcher is used only in code,

Flow is the nickname

Let me know if it makes sense, or you have a suggestion.

[2020-04-23 08:37] Kalaschnik commented on #12
No that’s perfect. Just wanted this to be clear.

[2020-04-23 08:37] #12 closed

[2020-04-23 16:58] SysC0mp commented on #4
These logos look awesome!

[2020-04-25 02:44] jjw24 opened #14 "Permissions and teams set up"
@NickSeagull @SysC0mp @Kalaschnik @theClueless I have not had a chance to look at in the organisation how to give you the access you need to start PRs and what not. Let me know if something obvious I need to set up straight away like access.

Also do we want to use a platform for group discussions or just stick to issues?

[2020-04-25 03:25] jjw24 opened #16 "Remove other search precision levels"
Unless I am wrong, other search precision levels- None, Low are not used much by user base. This assumption is that precision level saving is broken and no one has put forward an issue about it in the JJW24 fork.

![image](https://user-images.githubusercontent.com/26427004/80270083-7fa8c600-86f8-11ea-8a2f-d15252195206.png)

Removing others can help simplify logic and focus on fine tuning the searc

[2020-04-25 03:37] #5 closed

[2020-04-25 05:33] jjw24 opened #19 "Feature: Most used query results list"
Show most used results when activated and query textbox is blank.

- give user option to turn this on
- should show query results in history not actual query typed when hit ctrl h
- query result history is ordered by most used

More specifically, when query box is blank, and if there no query text, then show the most used recent results.

Ultimately to reduce the number of times I need to type aga

[2020-04-25 06:37] jjw24 opened #20 "Support %appdata% in Folder plugin"
As an example, I type I %appdata% Folder plugin will switch that text to the appdata director + \\ so i can continue to type the folder I want to go to:
Type %appdata%\Microsot it will change the text to c:\users\blahuser\appdata\microsoft\

[2020-04-25 10:32] SysC0mp commented on #20
We could add that in a way to work with all the currently existing environment variables on the system.

[2020-04-25 10:39] Kalaschnik commented on #14
Thats a good idea. I do also have some general questions. Since we distributed from Las Palmas (UTC+1) to Melbourne (UTC+10)—where are you located @theClueless ?—I think a general feasible time window for us is from 9:00 – 13:00 UTC. We could do a 30 minutes talk tomorrow around 10:00 UTC? What do you think? Do you prefer zoom, or rather to chat?

[2020-04-25 13:35] jjw24 commented on #20
Hey, can you expand a bit on what you mean?

[2020-04-25 13:40] jjw24 commented on #14
Was thinking of doing more of a chat group / workspace on Slack or some other forms so we are not too time constrained and can still communicate and spit out ideas.

[2020-04-25 14:55] SysC0mp commented on #14
I would agree with jjw here as i have no fixed times when i'm available at the moment.

[2020-04-25 17:13] NickSeagull commented on #14
I had good experiences using spectrum.chat, we can make async conversations over there :)

[2020-04-25 18:48] Kalaschnik commented on #14
I’m fine with everything

[2020-04-25 20:49] duurland commented on #20
Beside `%appdata%` it would be nice if it supported other environment variables too.

- `%localappdata%`
- `%temp%`
- `%username%`
- etc..

Run `set` in windows command prompt for a list.

[2020-04-25 23:44] jjw24 commented on #14
I have not use it before. My main go to is Slack haha. I am happy to give it ago. Would you have time to set it up?

[2020-04-25 23:44] jjw24 commented on #14
Are you okay with spectrum as well?

[2020-04-25 23:58] jjw24 commented on #20
Will be great if we can do that. I know you can do it with appdata and localappdata. Haven't checked others yet.

[2020-04-26 00:59] SysC0mp commented on #14
I'm fine with that 👍

[2020-04-28 16:50] SysC0mp commented on #14
I created a Spectrum community. Join should be able to join using following link:
https://spectrum.chat/flow-launcher/join/f0eff2ed-7792-4ae0-a1cd-a432dc63f95a

[2020-04-28 16:56] SysC0mp commented on #14
Regarding permissions:
Currently i think we cannot create branches in this repository. Should we change that or rather develop in our own forks and pull from there?

[2020-04-28 17:16] NickSeagull commented on #14
I'd use our own forks, I think that works very well

[2020-04-28 22:16] jjw24 commented on #14
From my perspective, I would go with whatever is easiest for you to contribute. I would think it would be faster and neater for people that are part of the org they could create branches/repos directly from within the org rather than forking it?

I am not familiar with how permissions should be set up in orgs, will take a look later on. If it is something I should set up, please direct me to help.

[2020-04-29 21:33] jjw24 commented on #14
I have changed base permission for organisation members from read to write, this should solve the above. Let me know if does not still.

[2020-04-30 09:04] jjw24 opened #26 "List supported languages for plugins in readme"

[2020-05-01 08:58] SysC0mp opened #27 "Thumbnails not loading correctly"
Thumbnails for certain items are not loading correctly.
![image](https://user-images.githubusercontent.com/8371978/80794599-9b99e500-8b9a-11ea-8103-457130b3d492.png)
![image](https://user-images.githubusercontent.com/8371978/80794569-8de45f80-8b9a-11ea-8c59-5d245b0e7f6b.png)

[2020-05-02 13:58] gdziedzic commented on #14
@jjw24 Hey, I love your idea about making Wox shine again. I'm a passionate user of Wox and I have multiple custom made plugins that I wrote for myself. Recently, I thought It'd be nice to have in Wox the feature that Alfred already has - launching list item using some keyboard shortcut (ctrl+num). Nevertheless, assuming I'd love to contribute somehow... can I join your team?

[2020-05-02 18:39] JohnTheGr8 commented on #20
I can tackle this tomorrow if nobody's working on it already...

[2020-05-02 20:00] SysC0mp commented on #14
Every helping hand is welcomed :)
Regarding the keyboard shortcut: I think you can launch result items using alt+[1-9], but this is a feature that is not really shown to the user like in Alfred, so it can definitely be improved.

[2020-05-03 01:41] jjw24 commented on #14
Absolutely. Helping hand is very welcome.

Please check email for the invite.

[2020-05-03 01:48] jjw24 commented on #14
@gdziedzic let me know the email to reach you so I can send you the invite for Spectrum community

[2020-05-03 04:58] jjw24 commented on #14
Created a team for this org. You can now @Flow-Launcher/team

[2020-05-03 05:18] #27 closed

[2020-05-03 05:29] jjw24 opened #31 "Set up CI/CD pipeline for Flow"
- [x] Build pipeline - AppVeyor
- [x]  Deployment pipeline for new releases- See screenshot below

[2020-05-03 13:22] JohnTheGr8 commented on #20
Done in #32

[2020-05-03 13:22] #20 closed

[2020-05-05 20:32] jjw24 opened #38 "Strange template theme called 'Template'"
![image](https://user-images.githubusercontent.com/26427004/81113220-37dd3680-8f63-11ea-9da6-fce5d9a0d6b4.png)

Clicking on it crashes Flow

[2020-05-05 21:22] jjw24 commented on #31
![image](https://user-images.githubusercontent.com/26427004/81117407-627ebd80-8f6a-11ea-8465-92e88dcc97ff.png)

[2020-05-07 13:01] JohnTheGr8 commented on #4
@Kalaschnik any progress on these?

[2020-05-08 08:51] jjw24 opened #41 "Hide hotkey text when title is too long"
Hide hotkey text from displaying when title is too long (or some other means), otherwise looks like a mess

![image](https://user-images.githubusercontent.com/26427004/81389175-c4067e00-915c-11ea-8a1a-50e5c38ee701.png)

[2020-05-08 08:52] #8 closed

[2020-05-08 08:54] #14 closed

[2020-05-08 09:07] jjw24 opened #42 "Icon flickering when searching"
Icons flickering due to results constantly being updated for query result text highlighting.

How to reproduce:
Search 'settings' letter by letter, focus on Wox's Settings query result and you will notice the icon flickers despite the result not changing.

Possible root cause:
The compare result method will return true most of the time as highlight data for both title and subtitle changes. This wi

[2020-05-08 09:46] Kalaschnik commented on #4
@JohnTheGr8 had some busy last week, I’ll continue on the weekend / polish the existing one, and will post it here.

[2020-05-08 10:13] jjw24 opened #43 "Hotkey display incorrect when using WebSearch global wildcard"
Set WebSearch google search hotkey from default 'g' to '*'

search 'YouTube hello'

![image](https://user-images.githubusercontent.com/26427004/81396137-2fa21880-9168-11ea-8971-d51e70f5510e.png)

[2020-05-08 10:19] JohnTheGr8 commented on #4
@Kalaschnik awesome, thank you

[2020-05-09 11:52] jjw24 opened #44 "Plugin- Windows Index Search"
Use windows index for searching files and folders.

https://docs.microsoft.com/en-us/windows/win32/search/-search-3x-wds-qryidx-overview

Transferred from: https://github.com/jjw24/Wox/issues/166

[2020-05-14 22:34] jjw24 opened #47 "Change text portable mode to Dynamic Resource"
![image](https://user-images.githubusercontent.com/26427004/82173877-235d4e80-9912-11ea-884f-186ee037d315.png)

[2020-05-16 11:18] jjw24 opened #49 "Add gif for showcasing current features"

[2020-05-16 11:18] jjw24 commented on #3
Gif task seperated: https://github.com/Flow-Launcher/Flow.Launcher/issues/49

[2020-05-16 11:18] #3 closed

[2020-05-18 04:14] #49 closed

[2020-05-18 04:15] #11 closed

[2020-05-18 04:20] jjw24 opened #53 "Make settings window bigger"
Resize settings window. Examples and mock ups are welcome.

Similar to:
![image](https://user-images.githubusercontent.com/26427004/82174007-9b2b7900-9912-11ea-86dc-8bb89c0545e0.png)

[2020-05-18 04:21] jjw24 opened #54 "Change the magnifying glass icon to plugin icon when all plugins the same"
Change the magnifying glass icon to plugin icon when all plugins the same:
![image](https://user-images.githubusercontent.com/26427004/82174052-c910bd80-9912-11ea-9303-ad525814a76d.png)

[2020-05-18 04:22] jjw24 opened #55 "Change the query loading progress bar"
Change the magnifying glass icon to spinning progress bar when query runs longer, and remove existing progress bar line

[2020-05-18 04:24] jjw24 opened #56 "Update UIs missed"
1. Folder plugin change action keyword window layout needs to be updated

2. Settings' Hotkey tab add hotkey window layout needs update

[2020-05-20 12:21] DonKonfetti opened #57 "Flow doesn't start when loading plugin fails"
### Are you submitting a bug report?

Yes

### Steps to reproduce

1. Install Wox processkiller plugin
2. Restart Flow
3. Nothing happens, Flow silently crashes while starting

### Flow Launcher Error Window text

### Detailed logs

I've used dnSpy to look into this issue. I see that loading the processkiller plugin fails and some unhandled exceptions occurs. This is the relevant content of the ou

[2020-05-20 22:20] jjw24 commented on #57
Hey how's it going.

Is this a plugin that you have been using or is it one that you want to try out?

[2020-05-21 08:26] DonKonfetti commented on #57
Just a plugin I've been using with Wox. Crashes Flow at startup. Flow should handle such cases gracefully.

[2020-05-21 08:54] jjw24 commented on #57
Yeah agree, got a pr in to handle it better.

We will also need to work on the integration of plugins that are not on core.

[2020-05-21 14:06] JohnTheGr8 commented on #54
Perhaps an even better idea: the magnifying glass icon could be replaced by the icon of the plugin that matches the selected result.

So if there's query results from multiple plugins, you can select and of them with the arrow buttons and the icon on the top right will tell you what plugin was responsible for that result.

[2020-05-24 04:06] thanhmssl10 commented on #54
Maybe integrate the loading icon too? Right now, I think, the Wox's loading UI is too small and not clear. It's should be something like Google chrome loading icon, clearly so when loading when done.

[2020-05-24 05:43] jjw24 commented on #54
Yeah, of course. It's just in a separate issue.

[2020-05-25 15:56] NickSeagull opened #62 "Remove `wpm` plugin from Flow"
I think that given that the Wox package repository is not our "official" way, perhaps we should remove the plugin from the installation so the users don't get confused.

A starting point for searching for plugins could be a repo like https://github.com/learn-anything/alfred-workflows

We can call the Flow plugins "Flows" 😄

I can work on that repo if no one is against so

[2020-05-25 21:33] jjw24 commented on #62
Hey @NickSeagull could you expand a little more on what you mean.

I think something like that Alfred workflow repo is good. But I am not sure exactly what you mean by removing wpm. My perspective is flow in the future can support wox, pt run or any other launcher's plugin, it doesn't have to have the name flow before it.

Until we rewrite wpm, we still need the functionality or a means of install

[2020-05-25 22:20] NickSeagull commented on #62
Yep, I just realized that if one needed to install Wox plugins, still the `wpm` plugin is needed. I meant the remote part that connects with the Wox package repo. Got this completely wrong, closing

[2020-05-25 22:20] #62 closed

[2020-06-02 20:44] #38 closed

[2020-06-08 15:47] NickSeagull opened #65 "DotNetCore for plugins"
I was wondering if it is possible to develop plugins using DotNetCore instead of Net Framework, and if so, what would be the steps? I'd like to document this aswell.

[2020-06-09 04:07] jjw24 commented on #65
Hey how's it going. Not exactly sure what you mean but flow is .net core so core plugins work with it.

 .net framework plugins are the ones we will need to find a way to load them. I will work on loading .net framework plugins next if nobody else has taken it on.

To start you need to have the core sdk installed from vs 2019 or download manually. You can then create a WPF for .Net Core project. O

[2020-06-09 11:11] NickSeagull commented on #65
Awesome, it's just I don't have much experience with packaging with either .net core or .net framework. I had created a plugin for Wox by following a tutorial using .net framework, and my plan was to port it to .net core + F#. Will try it and write a guide :)

Thanks!

[2020-06-09 11:11] #65 closed

[2020-06-09 12:21] JohnTheGr8 commented on #65
@NickSeagull you can copy the [HelloWorldFSharp](https://github.com/Flow-Launcher/Flow.Launcher/blob/master/Plugins/HelloWorldFSharp/) project files and build on top of that.

If you need any help, hit me up!

[2020-06-16 09:18] #44 closed

[2020-06-18 04:09] jjw24 opened #68 "Discussion: Removal of result highlighting"
Just wanting to get some thoughts on whether we should remove result highlighting.

It was introduced as a way of combating the messy search results back then in Wox, but over the many iterations this has been improved to the point I dont think it's a necessity any more, and results now is clear enough. Any missed results would be more or less edge cases which we should just take as opportunity to

[2020-06-18 04:12] jjw24 commented on #68
Also want to add- removal of search precision option in Settings tab. Regular is a good standard and 'Low' + 'None' is not utilised much.

Anyone out there still use the other two options?

[2020-06-18 10:18] Kalaschnik commented on #4
Sorry folks that it took a while. I just created a PR. The logos (svg, png, and the resource illustrator file love in the `Doc/Logo/` directory. Here is a preview:

![image](https://user-images.githubusercontent.com/9831678/85008739-a82fc800-b15d-11ea-96d2-6a605eb3727e.png)

[2020-06-18 11:17] JohnTheGr8 commented on #68
Does highlighting cause any problems other than the icon flickering issue (which is probably fixable)? Whatever performance/complexity overhead it adds is probably negligible.

I agree with what you said, it's not really a necessity any more... the core plugins could do without highlighting. But, at the same time, I think it's a nice to have, and that there could be potential use-cases for it from

[2020-06-18 11:50] thanhmssl10 commented on #68
I think the whole point of highlighting is for helping user to understand **why** Wox return those results. Maybe we can expand from that idea, let highlighting is a feature for debugging or advanced user mode. And add more features (even simple as log more detail info) to help user understand the search algorithm (why this item have lower point than that result etc ...)

For my personal usage, I

[2020-06-18 13:02] Kalaschnik commented on #68
Just to be clear we are talking about this:
![image](https://user-images.githubusercontent.com/9831678/85023161-a9202400-b174-11ea-901d-680ab354e4cd.png)

[2020-06-18 13:04] Kalaschnik commented on #4
Let me if you need other formats or design variations — I also added some logo variation (only in the `preview.pdf`) which you can find here: https://github.com/Flow-Launcher/Flow.Launcher/blob/fc2cf51b1f0177bb6726d831c9b5b9e48a33593f/Doc/Logo/preview.pdf

[2020-06-18 13:10] JohnTheGr8 commented on #4
Hey - do you suggest that we use the first (more square as you say) logo variation for icons? (if so, we will need it in .ico and .png)

[2020-06-18 13:24] Kalaschnik commented on #4
Sure. We should, however, be consistent with the use of logos, imo. So, if we go for the squre version, I would not use the the rotated one seen above. What do you think?

[2020-06-19 09:04] jjw24 commented on #4
Hey, i am not too across how logos are done. I would say a suitable size for a splash screen should we need one in the future, and a suitable one for putting on the readme.

[2020-06-19 09:06] jjw24 commented on #4
I am ok with the 'more squre' or the tear drop. I cant really 100% square because it may confuse with J but i can settle for either. So up to you guys.

[2020-06-19 11:54] Kalaschnik opened #71 "Respect Windows Environment Path Variables"
Path Variables in Windows Explorer are sensitive to where certain directories are located. This is super helpful if you want to use the same config over multiple machines.
For example, you could install OneDrive to be on `D:\OneDrive` or you just leave it to the default which is usually `C:\Users\{username}\OneDrive` (or `%UserProfile%\OneDrive`). Using Environment Path Variable `%OneDrive%` will

[2020-06-20 04:32] jjw24 commented on #71
Hey @Kalaschnik how's it going.

Flow already supports environment variables and path search.

I introduced a bug when i did the Explorer plugin and it was not activated at all. This is fixed in PR #72

Until this fix goes out, you can test out the fix here https://ci.appveyor.com/api/buildjobs/5f7n083fdyv23o4c/artifacts/Output%2FPackages%2FFlow-Launcher-v0.9.0.zip

[2020-06-20 04:39] jjw24 commented on #68
Hey sorry if i am not clear. I am referring the highlighting of results from the query search, in the screenshot, it is the bolding of 'Code' in results such as "Visual Studio Code" and "Codec Config 3: Codec Config"

[2020-06-20 12:23] Kalaschnik commented on #71
Oh, I was not aware of this. Thanks!

[2020-06-20 12:23] #71 closed

[2020-06-21 10:59] Kalaschnik commented on #68
Ah I see. I actually like that feature. Just to verify how my query was matched...

[2020-06-22 11:20] Kalaschnik opened #75 "Bookmarks plugin not working for new Edge Browser"
rel:
https://github.com/Wox-launcher/Wox/issues/3077

[2020-06-22 11:49] JohnTheGr8 commented on #4
Most people will either overlook the fact that it looks like a J or get a bit confused for a second and never think about it again. (my guess, anyway)

I have a feeling the teardrop will not look very good in small size, for example in the tray etc. So I'm leaning towards the square one as well.

@Kalaschnik if you can create the formats you listed, we can quickly add the icon to the project and s

[2020-06-24 03:08] #56 closed

[2020-06-24 21:55] jjw24 commented on #4
hey @Kalaschnik is #76 continuation of #69? All changes are in #76 and we can close #69?

[2020-06-25 04:45] Kalaschnik commented on #4
Correct, I just closed #69. #76 are all new files.

[2020-06-25 05:57] Kalaschnik commented on #4
![image](https://user-images.githubusercontent.com/9831678/85662690-816f1580-b6b8-11ea-8733-69c1100744e9.png)

I just created a fresh #81 — However, @jjw24 suggested for the error state just to use a frowning face... or maybe sort of both:
![image](https://user-images.githubusercontent.com/9831678/85663552-82ed0d80-b6b9-11ea-8e41-031492cf4564.png)

@Flow-Launcher/team — what do you think?

[2020-06-26 05:17] jjw24 commented on #4
Hey @Kalaschnik frowning face + logo in the background looks good :) could you commit this image to the current pr #81 please, i will update it for the launcher to use.

[2020-06-26 06:33] Kalaschnik commented on #4
@jjw24 done.

[2020-06-27 18:28] Kalaschnik opened #82 "Youtube Plugin causes Error, yet it works"
When Flow starts (after a (re)boot) it prompts me:

![image](https://user-images.githubusercontent.com/9831678/85929406-c069ba80-b8b4-11ea-8e0e-de2b800c77b8.png)

However the plugin itself is working

[2020-06-28 02:24] jjw24 commented on #82
Hey @Kalaschnik , Flow already has youtube search in the Web Searches plugin. Is there any functionalities that you want from Youtube Query plugin?

The Youtube Query plugin actually failed to load and you were using the Web Searches plugin instead.

At the moment Flow is yet supporting non-Flow plugins (different plugin model). I am still working on that. I will open an discussion on how to suppo

[2020-06-28 05:50] #4 closed

[2020-06-28 06:51] Kalaschnik commented on #82
🤦‍♂️

[2020-06-28 06:51] #82 closed

[2020-06-28 06:59] Kalaschnik opened #84 "Different Flow Icon for missing App Icon"
I would propose a different and more neutral Icon, if an app icon was not found. I actually thought that `app_error.png` was used for more critical conditions.
![image](https://user-images.githubusercontent.com/9831678/85940507-1ffbb080-b91d-11ea-87ff-e3e736b70f79.png)

This indicated that something is wrong with Spotify, maybe a question mark is the better choice here?!

[2020-06-28 07:00] Kalaschnik opened #85 "App Icon missing"
Although Spotify is installed, its icon is missing:

![image](https://user-images.githubusercontent.com/9831678/85940645-dd86a380-b91d-11ea-9e77-59b5f89625e5.png)

What is going on here? I think I had the same experience in some Apps for Wox...

[2020-06-28 07:03] Kalaschnik opened #86 "Flow Icon is pixelated"
![image](https://user-images.githubusercontent.com/9831678/85940681-16267d00-b91e-11ea-9894-22c6d03f295b.png)

I try to figure out why this is happening... maybe it is an issue with the ico containing multiple sizes? Maybe a 16×16 ico might fix this...

This is also happening in the taskbar, compared to its neighbours:
![image](https://user-images.githubusercontent.com/9831678/85940721-6b628e80-b9

[2020-06-28 08:59] jjw24 commented on #84
Good idea

[2020-06-28 09:00] jjw24 commented on #85
Let me see if I can repro. I have. Ever installed Spotify on PC before, did you get it from the Microsoft store or downloaded from their website?

[2020-06-28 09:02] jjw24 commented on #86
That's interesting pick up. Can you put in a 16 X 16 ico in or and I will test it out.

I haven't notice the pixelation on my machine though.

[2020-06-28 21:41] jjw24 commented on #85
tested on a new vm, seems to be fine for me
![image](https://user-images.githubusercontent.com/26427004/85958826-d4f4a280-b9db-11ea-8ea8-8a4c9f8fb10a.png)

can you 'Reload Plugin Data' and see if it is fixed.

[2020-06-29 06:16] Kalaschnik commented on #85
💡 Re-indixing was fixing the missing icons!

I wonder if re-indexing could be run automatically from time to time? Or if this could be event triggered by an installation?

[2020-06-29 07:55] jjw24 commented on #85
it runs reindex after start up if hasnt been run  > 3 days since last one.

it would be ideal but hard to do something like a trigger run after a program installation.

i will close this for now. Let me know if you want to reopen  :)

[2020-06-29 07:55] #85 closed

[2020-06-29 14:46] #10 closed

[2020-06-29 16:00] giggio opened #90 "Create Chocolatey package"
### Are you submitting a bug report?
No.

Please add a chocolatey package so it is easier to install and update Flow.

[2020-06-29 18:55] EliSadaka opened #91 "Auto-fill text difficult to read with BlurBlack theme"
### Are you submitting a bug report?

No

When using the BlurBlack theme, the auto-fill text in the search bar is very difficult to read when the launcher is opened over a light screen.

![flow1](https://user-images.githubusercontent.com/35779188/86043935-603f5980-ba17-11ea-93d1-ed5453d9a431.jpg)

Compare it to how it looks in Wox and you can see how it is much easier to read:

![wox](https://user

[2020-06-29 19:19] EliSadaka opened #92 "Blur effect extends beyond boundaries of launcher window"
### Are you submitting a bug report?

Yes

### Steps to reproduce

1. Select the BlurBlack or BlurWhite theme with the default settings
2. Activate the launcher to see the blur effect extending beyond the launcher window
3. Switch to a non-blur theme to see that the bug is still visible
4. Restart Flow Launcher to see that the bug is now gone until a blur theme is selected again

### Flow Launcher

[2020-06-29 19:32] EliSadaka opened #93 "Show paths to directories in Explorer plugin results"
### Are you submitting a bug report?

No

Directory results returned by the Explorer plugin do not display the path to the directory, which makes it difficult to differentiate between multiple folders with the same name. It's possible to get the path by hovering over a result and pressing Shift+Enter, but it would be much better if we could see the paths at a glance like with file results.

![flow

[2020-06-30 07:56] robertoleonardo opened #95 "Error Loading All Plugins"
Yes

-

I am switching to Flow from Wox, but I can't seem to get any third party plugins to load on restart after a successful installation message.  Is that just how it is for now, with flow in this early stage, or should they be working?  I've tried installing--in flow--numerous of the plugins i use in wox and upon restarting the application i get a plugin load error for each and every plugin.

[2020-06-30 08:47] jjw24 commented on #95
Hey how's it going. We are still working on integrating with Wox plugins, currently Wox plugins are still erroring out. What's some of the plugins that you would like to use, I can see if I am able to update them to Flow Plugins for now.

[2020-06-30 09:05] robertoleonardo commented on #95
Ah - thank you! i figured that was likely to be the explanation. please take your time and don't go out of your way to prioritize my preferences, but the only three i use other than the built ins are:
1) wox.processkiller
2) wox.spotifypremium
3) google search plus

Thank you all for your work on this - it's making my work life a lot easier. and the windows search/environmental variables search is

[2020-06-30 09:56] jjw24 commented on #92
I was able to fix it by delete the userdata folder and let flow recreate it. After which I was not able to repro the bug again. Can you see if it is the same for you?

[2020-06-30 12:59] JohnTheGr8 commented on #95
I was thinking that the process-killer plugin could be one of the defaults, @jjw24 what do you think?

[2020-06-30 13:19] EliSadaka commented on #92
Deleting the userdata folder did fix the issue, but once I closed and restarted Flow Launcher the issue returned.

[2020-06-30 15:51] robertoleonardo commented on #95
Agree - I have always thought it kind of odd that it wasn't

________________________________
From: Ioannis G. <notifications@github.com>
Sent: Tuesday, June 30, 2020 05:59
To: Flow-Launcher/Flow.Launcher
Cc: robertoleonardo; Author
Subject: Re: [Flow-Launcher/Flow.Launcher] Error Loading All Plugins (#95)

I was thinking that the process-killer plugin could be one of the defaults, @jjw24<https://

[2020-06-30 18:24] JohnTheGr8 opened #96 "Suggestion: move hello-world plugins to their own repository"
I see no reason to ship the 3 hello-world plugins with the launcher... I suggest that we move them to a separate repository, something like `plugin-samples`, and simply mention them in the plugin-development docs.

For a potential plugin developer looking for a sample plugin to base their work on, it would be much simpler this way.

[2020-06-30 19:02] theClueless commented on #95
@jjw24 @JohnTheGr8 In the past I took process killer plugin and made some updates and upgrades to it (much faster and doesn't crush as much).
It was in a private repo until now but maybe you could use it as a baseline :)
https://github.com/theClueless/Wox.Plugins

[2020-06-30 20:52] JohnTheGr8 commented on #95
@theClueless thanks for pointing this out, I'll try to find some time to ~~steal~~ port it tomorrow.

[2020-06-30 20:52] jjw24 commented on #96
Agree

[2020-06-30 20:53] JohnTheGr8 commented on #96
Cool, will get to it tomorrow...

[2020-07-01 03:46] jjw24 commented on #92
Could I get you to do a clean install of v1 and test , including removing the userdata folder. You can also back up the user data folder somewhere else as well

[2020-07-01 04:34] EliSadaka commented on #92
Here are the steps I took to reproduce the issue:

1. Uninstalled Flow Launcher and deleted the userdata folders in both Local and Roaming
2. Reinstalled the Flow Launcher and set the theme to BlurBlack
3. Closed Flow Launcher and relaunched it
4. The blur bug is visible

I still have Wox installed on my machine in case you think that might be conflicting somehow. It wasn't running when I was test

[2020-07-01 09:13] jjw24 commented on #92
Hey how's it going. I am able to repro now. Thanks for taking the time to explain.

To repro, select BlurBlack (for my case, it didnt have the blur extend beyond the window), close and then start up Flow, this is when the blur is extended beyond the window.

[2020-07-01 09:17] Kalaschnik opened #98 "Create WinGet package"
Similar to #90 @jjw24 you really should consider adding a manifest.json into the WinGet repo:
https://github.com/microsoft/winget-pkgs

[2020-07-01 09:30] #93 closed

[2020-07-01 11:24] #96 closed

[2020-07-01 11:51] jjw24 commented on #57
Closing. Further developments tracked in #95

[2020-07-01 11:51] #57 closed

[2020-07-02 19:20] DonKonfetti commented on #95
I'd love to see the task killer functionality in Flow, too. I used it very often back in Wox days.

And btw, awesome work @jjw24 ! Really wish I had more spare time to join.

[2020-07-02 20:31] jjw24 commented on #95
Thanks @DonKonfetti, the @Flow-Launcher/team is the reason Flow is able to move forward this far.

@JohnTheGr8 is working on adding task killer plugin into Flow. Stayed tuned.

[2020-07-02 20:38] #92 closed

[2020-07-03 12:40] sk209 opened #104 "Request to add Wox Plugin Runner"
Request to add support for [Wox.Plugin.Runner](https://github.com/CrazyCoder/Wox.Plugin.Runner) or include it in the defaults.

[2020-07-04 07:46] sk209 opened #105 "Show folder path in Explorer search result"
**Current Behaviour:**
Explorer search results show subtitles as "Ctrl+Enter to Open Directory"

**Problem:**
There is no way to differentiate the search results because they all look the same

**Suggestion:**
Instead of "Ctrl+Enter to Open Directory", we should display the folder path (similar to how the 'everything' plugin does)

So the search results will be :

instead of:

Screenshot showing t

[2020-07-04 07:50] jjw24 commented on #105
Hey how's it going. This has been fixed already and will be released in the next 30mins :)

[2020-07-04 07:50] #105 closed

[2020-07-04 08:47] #2 closed

[2020-07-04 10:17] kalaschnik opened #106 "Remove Parent Folder in Start Menu"
As seen here:
![image](https://user-images.githubusercontent.com/9831678/86510479-3fe51580-bdf0-11ea-84c5-4be004dbc923.png)

The folder is not really required for Flow. PowerToys had a similar "issue" in the past, and maybe this resource is helpful:
https://github.com/microsoft/PowerToys/issues/1494

[2020-07-04 14:20] sk209 opened #107 "Preserve images inside the Websearch Plugin folder after update."
I usually save custom icons for custom web searches in the default images folder under "AppData\Local\FlowLauncher\app-1.1.0\Plugins\Flow.Launcher.Plugin.WebSearch\Images". Updating deletes all the files in this folder. I would suggest preserving the contents while updating.

[2020-07-04 15:23] JohnTheGr8 commented on #106
This is a limitation of Squirrel, see Squirrel/Squirrel.Windows/issues/424 for details.

[2020-07-04 19:54] Kalaschnik commented on #106
5 yr old open issues... Great... But how did then the guys at Power Toys solved this issue?

[2020-07-04 19:54] JohnTheGr8 commented on #106
They don't use Squirrel :D

[2020-07-05 02:49] jjw24 commented on #90
Hey how's it going. When Flow is in portable mode, it would cause a problem where choco upgrade will wipe out the user's data. If the portable is somewhere else, choco will just install a fresh copy.

We need to do some thinking around this, that's why the upload is on hold.

One thing is Choco is runs the Install ps script, we can update it to prompt the user whether it's in portable mode then ge

[2020-07-05 02:51] jjw24 commented on #68
Result highlighting will be kept as per your feedback. I may add an option to toggle it on/off as a personal preference.

[2020-07-05 02:51] #68 closed

[2020-07-05 12:33] #91 closed

[2020-07-06 06:06] Kalaschnik commented on #106
Alright, I’m not into the ramifications of the core implementation of this project, so feel free to close it then :)

[2020-07-06 06:35] jjw24 commented on #106
Happy to leave this here for now as a reminder. Maybe in the future if we switch away from squirrel as the installer we may pick this up, or I get another opportunity to look into how squirrel installs again.

[2020-07-06 22:58] giggio commented on #90
Create a full install package, it'll just run the installer.
For the portable installer, simply separate the data and binary directories, set the data directory to a known location. Until that is done, just add the full install (that's what I usually prefer).

[2020-07-06 23:13] giggio opened #116 "Support PATH environment variables when searching for tools"
**Describe the solution you'd like**

I have several tools installed with Chocolatey that end up on my path, but are not indexed by Flow Launcher, and also other tools that I drop at `~/bin`, for example. I need Flow Launcher to find those.

**Describe alternatives you've considered**

`Windows+R` and the shell plugin both work, but they don't auto complete.

**Additional context**

Using latest v

[2020-07-07 06:31] Kalaschnik opened #117 "Signature Issue Or Flow might harm your device"
After downloading Flow I always get:
![image](https://user-images.githubusercontent.com/9831678/86727646-e701c100-c02b-11ea-805e-afb7459dbd7a.png)

In the downloads page of my browser (Edge) I need to confirm (show more) that this app is really safe:
![image](https://user-images.githubusercontent.com/9831678/86727877-1fa19a80-c02c-11ea-9c4d-d0c9b1e3601d.png)

This is probably some certificate stuf

[2020-07-07 11:13] Kalaschnik commented on #117
This might be Microsoft Edge related to their SmartScreen Filter. You can click on Report this app as safe and enter some information:
![image](https://user-images.githubusercontent.com/9831678/86772025-84bcb680-c053-11ea-8082-f79c5cf7a2cf.png)

Something @jjw24 you want to consider to do?

[2020-07-07 12:19] jjw24 commented on #117
Yep will do. I haven't sorted out this issue before so any tips is welcome

[2020-07-07 12:52] Kalaschnik commented on #117
rel:
https://stackoverflow.com/questions/48946680/how-to-avoid-the-windows-defender-smartscreen-prevented-an-unrecognized-app-fro

[2020-07-09 10:49] Kalaschnik opened #118 "Allow Explorer Plugin to Search File Contents"
_Everything_ is not able to do this. However, since Flow uses the Explorer Plugin (to replace Everything) this should be a welcoming enhancement.

[2020-07-18 01:29] JohnTheGr8 commented on #75
ready for the upcoming release

[2020-07-18 01:29] #75 closed

[2020-07-20 03:23] jjw24 opened #126 "Allow users to choose which browser's bookmarks to load"
**Is your feature request related to a problem? Please describe.**

Allow users to choose which browser's bookmarks to load. Currently supported browsers are Firefox, Chromium Edge, Internet Explorer and Chrome.

This issue is transferred from https://github.com/jjw24/Wox/issues/97

![image](https://user-images.githubusercontent.com/26427004/87896515-c9047980-ca8b-11ea-89dc-1584fd5442fc.png)

Firs

[2020-07-20 21:53] jjw24 commented on #9
This has been addressed in https://github.com/Flow-Launcher/Flow.Launcher/pull/80

[2020-07-20 21:53] #9 closed

[2020-07-21 12:39] gundamhyl commented on #95
2020-07-21 20:26:50.8998|ERROR|PluginsLoader.DotNetPlugins|-------------------------- Begin exception --------------------------
2020-07-21 20:26:50.8998|ERROR|PluginsLoader.DotNetPlugins|The GetTypes method was unable to load assembly types for the plugin: <Dictionary>
2020-07-21 20:26:50.8998|ERROR|PluginsLoader.DotNetPlugins|Exception full name:
 <System.Reflection.ReflectionTypeLoadException>

[2020-07-22 13:56] gundamhyl commented on #95
@jjw24

[2020-07-22 20:11] jjw24 commented on #95
Hey how's it going. This would be due to it being Wox plugin. I will work on porting the plugins mentioned here and then you guys will be able to download and add them manually into flow for now. We are still in the process of setting up automatic integration after porting.

[2020-07-27 14:27] giggio opened #128 "High CPU Usage"
**Describe the bug/issue**
Flow is sometimes using 1 to 5% CPU when it is not being used. It is not clear why this is happening. It stopped after a while.

I have taken a full memory dump from the process and will try to analyze it, if I find more info I'll comment here.

**To Reproduce**
Steps to reproduce the behavior:
I can't find a way to replicate the behavior, it happens intermittently.

**S

[2020-07-27 15:10] giggio commented on #128
Ok, from the dump, this is what the main runaway thread was doing:

[code]

It points to `App.xaml.cs`, here:
https://github.com/Flow-Launcher/Flow.Launcher/blob/8a9c338afe42fe6c90c0ed8d01c7768740479c59/Flow.Launcher/App.xaml.cs#L42

The second thread, which had much less usage, showed exactly the same stack. These are the first 4 runaway threads, clearly the first two are doing most of the work:

[2020-07-27 15:18] giggio commented on #128
Ok, I just restarted the app and ran another 2 dumps. The application consistently runs with some CPU (from 1% to 3%) for a while, and then goes to sleep, staying at 0.01% CPU. Both dumps showed exactly the same stack.

I'm not getting the exceptions since the restart, so the exception on the issue description is probably unrelated.

[2020-07-27 19:46] jjw24 commented on #128
Hey this memory and high cpu issue is a common issue that also exists for PT Run and Wox. PT Run has shared the fix and I will implement the fix soon.

[2020-07-28 14:03] giggio commented on #128
@jjw24 Interesting. What causes it?

[2020-07-30 09:54] skjerns opened #129 "Use Key-Up instead of Key-Down"
I copy this from https://github.com/Wox-launcher/Wox/issues/2722, with hope that Flow can implement it.

I have the Windows key as a hotkey for Wox, and disabled it to display start-menu via [ClassicShell](http://www.classicshell.net/).

However, it always pops up on key-down when I do any other Windows-hotkey. For most hotkeys (win+r, win+d, ...) this is no problem, however for others (win+left/r

[2020-07-30 09:57] skjerns opened #130 "Clear last request"
I'm not sure why this feature was removed, as it is present in Wox:

When I activate Flow, it will always display the most recent query. However in almost all cases that is not what I want. Can the option be brought back to clear the last query when the window is disappearing?

[2020-08-01 16:49] sambarrowclough commented on #19
I like this idea. Similar to how [z](https://github.com/rupa/z) works with [fzf](https://github.com/junegunn/fzf). I wouldn't mind looking into this if you haven't already started it?

[2020-08-02 00:07] jjw24 commented on #19
That would be awesome if you could. I have not been able to get around to it yet.

[2020-08-02 14:53] sambarrowclough commented on #130
Settings > General > Last Query Style > Empty last Query is what you are after 👍

[2020-08-02 15:55] skjerns commented on #130
![Capture](https://user-images.githubusercontent.com/14980558/89126840-52369a00-d4e9-11ea-9bcc-63da03dfc0a5.PNG)

that setting doesnt exist anymore

[2020-08-03 03:52] jjw24 commented on #130
hey does it show if you scroll down the page?
Should look something like this:
![image](https://user-images.githubusercontent.com/26427004/89144284-98930400-d590-11ea-8dc3-904a84ab39ae.png)

[2020-08-03 04:01] jjw24 commented on #129
Related:
https://github.com/jjw24/Wox/issues/138:
![image](https://user-images.githubusercontent.com/26427004/89144660-ad23cc00-d591-11ea-86d9-f60018249010.png)

From NHotkey lib author:
![image](https://user-images.githubusercontent.com/26427004/89144696-c88ed700-d591-11ea-934a-2e302d5db90e.png)
https://github.com/thomaslevesque/NHotkey/issues/17

[2020-08-03 04:04] jjw24 commented on #129
@skjerns hey how's it going. This doesnt look like a quick change we can implement. We will need to look at different lib for capturing hotkeys, so I wont be addressing this issue in the coming months or so. Hopefully another contributor would like to pick this open and have a go.

I would like to keep this open and come back to work on it later on as the suggestion is a good one, especially if we

[2020-08-03 09:09] skjerns commented on #130
you can scroll down. okay, that wasn't very obvious to me.

I think that should be made more verbose

[2020-08-03 09:09] #130 closed

[2020-08-03 11:43] jjw24 commented on #104
Hey how's it going.

The port is ready at https://github.com/jjw24/Wox.Plugin.Runner/releases/latest, see release notes for instructions on how to install into Flow.

This is a current temp work around while we get Flow's plugin management implemented.

All behaviours should be the same as the original plugin, let me know if you run into any issues.

[2020-08-04 23:08] jjw24 commented on #128
So there are two main issues. Memory is partially caused by result list's image caching and implementation of INotifyPropertyChanged on ContextMenu items, and possible more memory leaks which is still under investigation by our friends at PT Run. CPU issue maybe caused by image caching during the loading of results so will see how it is after implementing the partial fix of memory issue. I will ha

[2020-08-09 13:11] ArttuLai opened #134 "Small graphical glitch with "Query window shadow effect""
### Describe the bug/issue
If you enable "Query window shadow effect" under theme settings, the drop shadow doesn't draw itself properly around the whole query window, it has sharp cuts in the corners.

### To Reproduce
Steps to reproduce the behavior:
1. Open Flow's settings --> Theme tab
2. Enable "Query window shadow effect"
3. Observe that the corner shadows of the query window are cut imprope

[2020-08-17 10:16] #118 closed

[2020-08-17 10:20] jjw24 commented on #116
I think I might know what the issue is, so I can repro, can you give me a tool as an example

[2020-08-17 10:20] #107 closed

[2020-08-17 12:09] giggio opened #135 "How do we add the Everything plugin back?"
**Question**
I saw that the everything plugin is not there anymore. How do we add it back? It is not published on http://www.wox.one/plugin and it does not have a release on https://github.com/Flow-Launcher/Flow.Launcher.Plugin.Everything.

[2020-08-17 12:12] jjw24 commented on #135
Are there still functionalities you need from Everything that's not covered in Explorer plugin?

[2020-08-17 12:13] giggio commented on #116
Sure, just download any tool which Chocolatey. I use Sysinternals: https://chocolatey.org/packages/sysinternals

If you don't want to install Chocolatey, just download "Process Explorer" directly (https://docs.microsoft.com/en-us/sysinternals/downloads/process-explorer) and add it to your path somehow. I suggest creating a tools directory somewhere (like 'c:\tools'), add it there, and add to the p

[2020-08-17 12:15] giggio commented on #135
Windows Search does not index my whole drive, and I don't want it too, as it is too slow and takes up a lot of cpu. Everything scans all of it, super fast.

[2020-08-17 12:27] jjw24 commented on #135
When you say slow, is it the indexing part that's slow? Because searching is very fast with Explorer.

I am away from comp at the moment, when I get back I will publish a download in the Everything repo users can use should they want to keep Everything plugin.

In the meantime if you still want to use the new version, you can grab the Everything plugin from previous version and copy it across to t

[2020-08-17 12:32] giggio commented on #135
Yes, indexing is slow, searching is fast.
I'll wait for the release, thanks!

[2020-08-17 20:24] jjw24 commented on #135
Hey it's now available in the repo's release page https://github.com/Flow-Launcher/Flow.Launcher.Plugin.Everything/releases/latest

[2020-08-17 20:24] #135 closed

[2020-08-18 02:48] taooceros opened #136 "Acronym search (or more feature) for programs"
Does Flow have a plan to implement the search with acronym? I have tried the latest preview in Wox, which contains fascinating implementation of the indexing and searching using the acronym of programs name.

For example, when I want to open the program like Visual Studio Code, I can simply type vsc and select the first query result, which will be much faster and possibly more precious than typing

[2020-08-18 05:04] jjw24 commented on #136
Hey how's it going, pinyin feature is already there, you just need to turn on 'Should Use Pinyin' in settings. Let me know if this is what you are after.

In terms of acronym search, should already be there as well, let me take a look with the 'vsc' example and get back to you.

[2020-08-18 05:14] jjw24 commented on #117
From Win10 after download and run installer:
![image](https://user-images.githubusercontent.com/26427004/90473097-6f17d200-e165-11ea-8cd0-5da4bd34763d.png)

[2020-08-18 10:14] taooceros commented on #136
Thank you so much for responding so quickly. I think the situation for now is quite similar to the query situation in wox 1129, which require "space" between the acronym, otherwise it will not be considered in the fuzzy search.

[2020-08-18 10:21] taooceros commented on #136
I have checked wox for version 1.4.1129, which provides the same query result when I try to search query with acronym. I think wox in 1.4.1196 or higher has fixed the issues if you are using the same algorithm as wox. However, these versions also brough up an issue as I mentioned before.

[2020-08-18 10:34] jjw24 commented on #136
Just to clarify, you were able to find and use the Pinyin search feature?

When you say needs 'space', do you mean needing to type 'v s c' for visual studio code?

[2020-08-18 11:03] taooceros commented on #136
Yes, I found that selection for pinyin search. Thank you!
Yes, "v s c" is working, though in a weird way which match the 'v' and 's' in visual, with 'c' in code, while "v s s c" doesn't work here.

[2020-08-18 11:39] jjw24 commented on #136
Good to hear 👍

It's not suppose to do that with the acronym search, I will investigate and get back to you.

[2020-08-18 13:29] taooceros opened #137 "Preset folder index issue"
**Describe the bug/issue**
In my query result, folders and pdf files's image appears like this. I don't think the image like an error is by design for folder🤨.

**Screenshots**
![image](https://user-images.githubusercontent.com/45326534/90518616-9b4d4600-e199-11ea-99a2-8349543e8b41.png)

**Your System**
[code]
**Flow Launcher Error Log**

[2020-08-18.txt](https://github.com/Flow-Launcher/Flow.Laun

[2020-08-18 13:38] AmrBinBashir opened #138 "[Question] Why is the app size much larger than wox ?"
Why is the app size is 80mb compared to original wox which is around 5mb ?

[2020-08-18 19:40] jjw24 commented on #138
The main reason it's at 80mb is because Flow is built with .Net Core 3.1 and published as a self-contained Core application. This means users do not need to install .Net Core run time (like you would with .Net Framework), as all required run time files are embedded with the application files. This also means users can use portable mode and use it on all Win 7 + machines without needing to install

[2020-08-18 20:36] jjw24 commented on #137
That's the error image. Flow failed to load the image thumbnail for those files and folders. Can you let me know:
- If this is happening to all your folders and files in other locations or just the ones in that location

- Do the images for programs show up?

[2020-08-18 20:47] AmrBinBashir commented on #138
That's pretty cool actually but I think you should provide a lightweight version without dependencies and let the user install .net core by himself. I mean there is a lot of ppl out there that might have .net core already installed like me so the lighter version would be prefect in this situation.
Awesome app though.

[2020-08-18 20:47] #138 closed

[2020-08-18 22:57] jjw24 commented on #95
Hey @gundamhyl , I have ported WoxDictionary to Flow, please test it out and let me know if it is working as intended.
https://github.com/jjw24/WoxDictionary/releases/latest

[2020-08-19 04:04] taooceros commented on #137
I think the image doesn't happen for Program, except for part of the UWP program, but for most of folder and some of the files I think.
![image](https://user-images.githubusercontent.com/45326534/90590490-46e6ac80-e213-11ea-826c-aecf039d421c.png)

For those folder and files without image, I enter the selection and It results only the path, and nothing else like this.
![image](https://user-images.g

[2020-08-19 04:46] jjw24 commented on #95
Hey @robertoleonardo , Google Search Plus has been ported. Please test it out and let me know how you go.
https://github.com/jjw24/Wox.Plugin.GoogleSearch/releases/latest

[2020-08-19 04:51] jjw24 commented on #137
Can you copy the file Program.cs in your screenshot to a new location without the Chinese name eg. D:\Test\
I want to see if it is because of the folder name is in Chinese.

[2020-08-19 07:27] taooceros commented on #137
I think it is not due to Chinese issues, but due to the translation to special folder from Windows. Since the language in my windows is Chinese, it will translate all the special folder name to the **preset name** in the index, which is not the original path.

For example, it will translate the folder "document" to 文档, since it means document in Chinese, and "download" to "下载", etc.

I have tried

[2020-08-19 08:03] Kalaschnik commented on #117
I just red:

https://stackoverflow.com/a/51113771/2258480

Basically (without paying $400 or something), SmartScreen just need some time to see that this app was used by a number of people to built trust, if I understand it correctly.

[2020-08-19 08:17] jjw24 commented on #117
Yeah that's what my understanding was at previously when I was researching on this. Will take another look sometime later. But if we have to pay that fee, probably not ideal.

[2020-08-19 14:06] gundamhyl commented on #95
Thanks! This plugin works well now, but did you solve this problem by recompiling it? Does every wox version of the plugin need to be modified before it can be installed in Flow.Launcher? Is there any other way to be compatible with the old version of the plugin?

[2020-08-19 21:00] jjw24 commented on #95
Nah it wasnt a compile issue, I upgraded the plugin to .Net Core and changed the plugin interface to Flow's.

Yeah, at this stage all Wox version of the plugin need to be ported before it can be installed in Flow Launcher. The benefits will be that a lot of the plugins that I have come across so far are built years ago, so code base is pretty out of date. Porting them over will help with knowing w

[2020-08-20 05:50] taooceros commented on #137
![image](https://user-images.githubusercontent.com/45326534/90721743-01e27900-e2ec-11ea-8f8b-4760d5bb26b5.png)
I think the folders in other folders except the quick access folder may be fine.

[2020-08-20 09:35] jjw24 commented on #137
All good, I will boot up a VM to investigate.

Just for some more confirmation as well:
- Do these errored results work when you select them?

- from your screenshot it looks like program images from the Program plugin are working yeah?

[2020-08-20 09:48] taooceros commented on #137
I have answered these questions.

The program plugin works well except for a few UWP programs' images loading.

[2020-08-23 20:24] jjw24 opened #139 "%homepath% location path incorrect"
![image](https://user-images.githubusercontent.com/26427004/90987964-6c3c3780-e5d2-11ea-942b-34a88bcda16d.png)

[2020-08-23 21:23] jjw24 opened #140 "Allow setting max results for Explorer's index search"
Explorer's index search Currently capped at 100 results from index search.

Allow user to change this limit

[2020-08-23 23:02] jjw24 commented on #137
Hey @taooceros a fix is put in. If you like you can test it out for me as well, download the zip version from [here] (https://ci.appveyor.com/api/buildjobs/dbn62qcfixrnv5w3/artifacts/Output%2FPackages%2FFlow-Launcher-v1.2.0.zip) (you will need to install the .Net Core 3.1 runtime, see readme for this build)

[2020-08-24 02:29] taooceros commented on #137
Thank you! I have installed .Net 5 preview in my computer, and I think that should work as well. I will reach out back after I have tested it.

[2020-08-24 02:47] taooceros commented on #137
Hey, this fix works well! Nice Job!

Yet, I have found a new issue as a benefit of this fix. It seems that the explorer plugin doesn't support special characters (I am not sure whether it is because the special character is on the end).
![image](https://user-images.githubusercontent.com/45326534/90998343-7c660e00-e5f6-11ea-8341-dffba9f984ae.png)

The path displays under the selection has removed t

[2020-08-24 02:51] jjw24 commented on #137
Good find. Could you put this new one in a separate issue and I can close this current one once fix is approved and merged.

[2020-08-24 02:51] taooceros commented on #137
ok!

[2020-08-24 02:55] taooceros opened #142 "Special character path error (Explorer Plugin)"
**Describe the bug/issue**
It seems that the explorer plugin doesn't support special characters.

**To Reproduce**
Steps to reproduce the behavior:
1. to have a folder with "#" in its name
2. use flow to search the folder

**Screenshots**
![image](https://user-images.githubusercontent.com/45326534/90998343-7c660e00-e5f6-11ea-8341-dffba9f984ae.png)

**Flow Launcher Error Log**

[2020-08-24.txt](htt

[2020-08-24 02:58] taooceros commented on #142
I have test "!@#$%^&()-+.,_", only "#" work error here.

[2020-08-24 03:12] taooceros opened #143 "Index for Onedrive-Business"
**Question**
I am considering whether the explorer plugin may be able to search content in onedrive business, since the windows search seems provide this feature after many updates.

I think windows have done some limit to the windows index settings, while it is not available to index the onedrive-business folder as other folder.

[2020-08-24 05:16] jjw24 commented on #143
OneDrive is indexed by Explorer, even though it may not appear in the Window's indexing options.

Tested:
OneDrive version 20.134.0705.0008
Win1909

[2020-08-24 07:16] taooceros commented on #143
I know that Onedrive is indexed by Explorer, but Onedrive for business seems indexed in a different way.

Windows version: 2004

![image](https://user-images.githubusercontent.com/45326534/91014884-ca8e0800-e61c-11ea-97fa-85b59d2d9ef9.png)

[2020-08-24 15:09] JohnTheGr8 commented on #139
@jjw24 Similarly, `%homedrive%` and `%systemdrive%` do not resolve to the right directories. I'll take care of this...

[2020-08-24 20:45] #137 closed

[2020-08-25 05:06] #139 closed

[2020-08-25 12:13] jjw24 commented on #143
Yeah sorry I wasn't exact, I tested with OneDrive for Business and was able to get the files and folders.

Have you changed your OFB location?

Strange because if you are able to find them with windows search then Explorer should be picking them up as well.

[2020-08-26 03:19] taooceros commented on #143
If OFB means onedrive for Business, I do change it to D:, while I have also changed my personal onedrive to D: as well.

I have tried explorer, which seems unable to search files in OFB with index, but can only search it directly. However, windows search seems work in a different way.

[2020-08-26 09:36] jjw24 opened #148 "Google Search Plus plugin integration"
I have was using the Google Search Plus plugin and thought it is quite neat that it gives you a list of your Google search directly in your results which, when selected takes you directly to the website.

I am thinking whether it would be a good idea to integrate it into the WebSearch plugin and be triggered with an action keyword similar to how you do YouTube and Github searches.

Thoughts?

You

[2020-08-28 02:25] taooceros opened #149 "Update Package instead of whole package"
**Question**
For Update, do users have to download the full package including the .net core runtime? Is it possible to download a package only for update, which may be smaller.

By the way, I think the auto update and check for update doesn't work really well?

[2020-08-28 03:04] jjw24 commented on #149
Flow is self contained so the core run time are embedded. Downside to this is a larger install file at 80mb but this will help users who use it as portable.

It would be nice to just update with a smaller or actual Flow package but that won't be something I will have time to look at in the immediate short term myself.

The update process takes slightly longer, but has been reliably installing the

[2020-08-28 03:07] jjw24 commented on #149
I guess the work around is publishing the non-self contained and having an option in Flow for users to pick, caters for users who have core installed.

A bit messy for the portable part though what if you take it to a machine without Core.

[2020-08-29 17:14] ArttuLai commented on #84
For example PowerToys Run uses a generic window icon for missing apps and I think it works well — not that it means you should use one too. I also think the red sad face looks like shouldn't press that button, and it looks like warning.

<img width="541" alt="ptrunGenericAppIcon" src="https://user-images.githubusercontent.com/42007282/91642331-36b0a780-ea33-11ea-9207-1278ae4f9674.png">

Maybe it c

[2020-08-29 17:33] ArttuLai commented on #84
<img width="641" alt="genericAppMockup" src="https://user-images.githubusercontent.com/42007282/91642794-e63b4900-ea36-11ea-9fe8-f6c1ea3a0d17.png">

[2020-08-29 19:39] Kalaschnik commented on #84
I prefer your version over the MDL2 Icons, which are here for reference:
https://github.com/microsoft/PowerToys/tree/master/src/modules/launcher/PowerLauncher/Images

However, it looks a bit macOSish — is this your asset/can you modify it to look more Windows-like?

[2020-08-29 20:12] ArttuLai commented on #84
I agree, it looks kinda Mac-like now that you said it 😅 I was going for something like the new Fluent app icons by Microsoft. But it's mine and I can modify it / see what I can do.

[2020-08-29 21:07] Kalaschnik commented on #84
That’s cool. I had the same intension for the Flow logo :)

[2020-08-31 02:36] ArttuLai commented on #84
@Kalaschnik OK I made some variants:

https://1drv.ms/u/s!Aj_Hiawo_tA7iMJxSZdKcKN2RPwhGg?e=DKrWQb

Anyone is free to use these. And do tell if you want them at more proper sizes/filetypes, I have no idea what I'm doing. There's one PNG and one SVG of each picture at 2000x2000 resolution.

[2020-08-31 09:55] jjw24 commented on #84
I quite  dig this one (although havent tried how it looks in Flow)
![image](https://user-images.githubusercontent.com/26427004/91707943-ea48a180-ebc3-11ea-9169-5b72dd254d72.png)

[2020-08-31 13:21] Kalaschnik commented on #84
I second jjw24’s preference, although if the icon is shown within small dimensions, the windows logo is not easy to spot, maybe bump it up just a bit more?
![image](https://user-images.githubusercontent.com/9831678/91724201-3f24f180-eb9d-11ea-9180-d670ad35d293.png)

Thank you!

[2020-08-31 14:06] ArttuLai commented on #84
Yeah it's a bit dim. I'll post a new icon to the folder soon.

[2020-09-01 05:38] jjw24 commented on #84
Hey thanks so much for them @ArttuLai. Do you think you can chuck them into a PR?

We will need to update the code to point to the image file, let's call it 'app_missing_iconimg'- would you be able to make the changes @ArttuLai ?

[2020-09-01 14:56] ArttuLai commented on #84
@jjw24 @Kalaschnik No problem, happy to contribute!

Also I'm extremely noob at this so don't laugh if I messed up the PR 🙂

[2020-09-02 17:40] ArttuLai commented on #84
@Kalaschnik @jjw24 Would it be correct if I do following:

1. Upload 'app_missing_img.png' (256x256 px like the original) to Flow.Launcher/Flow.Launcher/Images/
2. Update Constant.cs (in Flow.Launcher/Flow.Launcher.Infrastructure/) to point to said image. Like this:

![constantcs](https://user-images.githubusercontent.com/42007282/92014540-1432cd00-ed58-11ea-882e-6b81095f000e.png)

If that's not h

[2020-09-02 20:29] jjw24 commented on #84
All good, always happy to help out if needed as well.

Yep that's what I meant, throw in a PR with all the files, then if you are familiar with the code then update it to use it. If not we can merge the PR first.

I am working on something else at the moment, once done I can update the code to use your image.

[2020-09-03 19:48] jjw24 commented on #84
All done, thanks again. Will update the code later to utilise it

[2020-09-03 19:48] #84 closed

[2020-09-04 10:03] taooceros opened #152 "UWP programs icon cannot be found after it has been updated"
**Describe the bug/issue**
UWP programs icon cannot be found after it has been updated.
My windows terminal app's icon cannot be found after it has been automatedly updated.
I have checked the log, and it indicates that the index for windows terminal is still on the old version.
It can be fixed by manually reindex program.
I think it may be possible to fix this by reindex the specific app whenever

[2020-09-04 10:22] jjw24 commented on #152
At the moment the reindex is set to every 3 days if I remmeber correctly. This is why it is still pointing to the old location.

It's an interesting suggestion to reindex the specific app if it fails to load. Let me think about it and have a play.

[2020-09-04 10:27] taooceros commented on #152
hhh that's a possible way.
For the UWP loading, even if the image cannot be loaded, it can be opened. That's really interesting.

[2020-09-04 10:28] taooceros commented on #152
I am really interested about how flow open UWP program.
Could you give me a hint?

[2020-09-04 11:13] jjw24 commented on #152
Sure, current release version uses an old library to load the uwp program. Take a look in the Infrastructure project => ImageLoader class.

The loading of UWP thumbnail image is separate to the loading of UWP itself that's why sometimes it fails to load a UWP app's thumbnail image but the app itself can be run.

In the PR list I put through one that improved on the loading of UWP images using an u

[2020-09-04 12:00] taooceros commented on #152
Thanks, that helps.

Big change is usually hard to test. Hope to see it done in the future.

[2020-09-05 11:35] ArttuLai opened #153 "Long query makes the text messy"
## Describe the Bug
If I write a long query using the default Web Searches plugin, the text will mess up and overlap with itself. This happens when the length of the text you're typing extends the width of the Flow window, when you're using an action keyword that activates a search engine. So this doesn't happen if you just type a long query without activating the Web Searches plugin.

## To Repro

[2020-09-06 11:18] runkelstein commented on #148
I tried the Google Search Plus plugin, but I feel it is a bit too slow, I don't know why that is.

I was myself thinking of writing a plugin which uses the "do you feel lucky" functionality from google. Because on many occasions if you find the right keywords the first result is what you are looking for. Over time you will memorize the right combinations which get you to your goal.

E.g. if you se

[2020-09-06 11:35] runkelstein commented on #148
Btw. I now realize that this is not the wox project itself, but a fork of it.

I just ended up here via the github search, because I couldn't find the plugin 🤣

So thanks for the link.

[2020-09-06 11:42] jjw24 commented on #148
Yeah I agree, sometimes I just need the first or one of top 6 results so it I thought it is a great idea.

The do you feel lucky Google search gives random results though right, preferably always the same result is better.

[2020-09-06 12:11] runkelstein commented on #148
Is it realy random? I was thinking it is the first result, but if it is random then it is not realy useful.

But nonetheless, parsing the general search and selecting the first result should work as well.

I just looked at the search plugin of wox, and realized there is a long list of keywords.

One could generalize and just add a letter to the existing keywords, like
gf (google first)
wikif (wiki

[2020-09-06 12:13] runkelstein commented on #148
https://www.google.com/search?btnI=1&q=msdn%20console

I always get to the same result. There is just a page in between which I would need to skip.

[2020-09-06 12:21] runkelstein commented on #148
The Google Search Plus plugin almost works like the lucky button, but it just takes to long loading up the results. On my machine a few seconds.

But also here a combination of the "lucky" functionality and the search is thinkable. Like if you hit enter immediately before the first result comes up, the first result will open up.

Meanwhile the entered search text could apear in the first entry, li

[2020-09-06 12:34] jjw24 commented on #148
Directly to the first result using action keyword is a good idea 👍

[2020-09-06 12:37] jjw24 commented on #148
Yep on my machine takes a second or two as well. Something worth look out for during implementation.

[2020-09-06 21:05] jjw24 commented on #84
PR is in https://github.com/Flow-Launcher/Flow.Launcher/pull/154

[2020-09-18 11:28] ianzhuo opened #155 "HelloWorldPython can not properly load"
Hi there,

Trying test HelloWordlyPython plugin template, but get error log as below.

**Flow Launcher Error Log**

2020-09-18 19:11:06.7834|ERROR|JsonRPCPlugin.Execute|  File "C:\Users\ianzh\AppData\Roaming\FlowLauncher\Plugins\HelloWorldPython\main.py", line 3
    from flow.launcher import Flow.Launcher
                                  ^
SyntaxError: invalid syntax

[2020-09-19 09:32] jjw24 opened #156 "Option to use tab to autocomplete query"
From https://github.com/jjw24/Wox/pull/153
![image](https://user-images.githubusercontent.com/26427004/93663957-be2b8c80-faae-11ea-881f-55914d0ecefe.png)

[2020-09-19 09:38] jjw24 opened #157 "Python template advice"
From https://github.com/jjw24/Wox/issues/195

![image](https://user-images.githubusercontent.com/26427004/93664073-8a049b80-faaf-11ea-8084-8c1dc4cdbe40.png)

[Wox.Plugin.PythonTemplate](https://github.com/Zeroto521/Wox.Plugin.PythonTemplate)
[Wox.Plugin.Timestamp](https://github.com/Zeroto521/Wox.Plugin.Timestamp)

[2020-09-19 09:47] jjw24 opened #158 "Should the JsonRPC/wox.py stay with the main solution"
From https://github.com/jjw24/Wox/issues/196

![image](https://user-images.githubusercontent.com/26427004/93664271-c71d5d80-fab0-11ea-9162-e6b84ab54632.png)

[Wox.Plugin.Timestamp](https://github.com/Zeroto521/Wox.Plugin.Timestamp/blob/master/plugin/wox.py).

[2020-09-19 09:50] jjw24 commented on #158
I dont think it's a good idea to put it in a plugin. We need it to be a common library so it can be referenced and developed rather than each python plugin has its own version of it.

[2020-09-19 09:55] Zeroto521 commented on #158
@jjw24 I agree. Build `wox.py` as a package. That's why I issued this problem.

[2020-09-19 10:02] Zeroto521 commented on #158
I'm not a `C#` developer, so I don't know how useful the `wox.py` is.
But as a `Python` developer, I think it's no use in Wox. And it has trouble with Python developer.
`¯\_(ツ)_/¯ `

[2020-09-19 10:14] jjw24 commented on #158
From your points I think it makes sense to bring it out as a separate one. I have not had the chance to play around with it yet as I am working on another part of Flow. Flow's non-c sharp areas need a uplift for sure. If you like you can let me know or create your own repo show how best wox.py should be developed. Otherwise I will circle back to this any way once I am done as it's next on my plate

[2020-09-19 10:25] Zeroto521 commented on #158
May be you should create an empty project called **JsonRPC** or else in **Flow-Launcher** organization.
I can finish it as a total Python package. When we check it already, we can upload it to PyPI.

[2020-09-19 10:29] jjw24 commented on #158
Sure thing.

I can do with some help in the Python development, would you like to be part of the team?

[2020-09-19 10:32] Zeroto521 commented on #157
If you like it, we can rich it.
Also I can **transfer ownership** to Flow-Laucher team. I think it is the better to the project.

[2020-09-19 10:33] jjw24 commented on #158
Created here https://github.com/Flow-Launcher/Flow.Launcher.JsonRPC.Python. We can rename the repo later on if need be

[2020-09-19 10:33] Zeroto521 commented on #158
That's my pleasure.

[2020-09-19 10:37] jjw24 commented on #158
I have sent you an invite to the team

[2020-09-19 10:38] Zeroto521 commented on #158
I got it, 🤝.

[2020-09-20 15:25] ianzhuo commented on #155
In `HelloWorldPython/main.py` use code as below will import the correct module `wox.py`.

`from flow.launcher import Flow.Launcher ---> from wox import FlowLauncher`

It make sample code worked.

[2020-09-20 17:59] jjw24 commented on #155
Hey thanks for letting me know. That should be the behaviour. Let's keep this issue open so I can circle back to this.

[2020-09-21 13:47] Zeroto521 opened #159 "Let setting UI support for other program languages"
## Question

As title.

More can see [jjw24/Wox#178](https://github.com/jjw24/Wox/issues/178).

## Discussion

I think just like using **JSON-RPC** for supporting other program languages.

Why not using some **template file** for support setting UI.

But at the same time, we need a **tool** to compile the file and  **inject in** the Flow main program.

To make it just like a `C#` plugin.

![Intera

[2020-09-22 20:41] jjw24 commented on #159
Interesting indeed. Let me think how we can do this

[2020-09-23 03:14] taooceros commented on #149
Sorry for that I haven't seen the reply till now. In my computer, when I click "Check for Updates", it will give a hint that it is checking for update and please wait, but that's it. No more notice for whether there is a new update or not.

I am not sure whether the auto-update feature work well as intended since there is no notification of whether it is updating. I have manually installed the lat

[2020-09-23 09:38] jjw24 commented on #149
Since version 1.2.0 there has been added messages to notify the update progress. Let me know if they are sufficient.

Having a good internet connection definitely helps, 80mbs is not too big of a file to download. Have you ever been successful in updating via the client (auto or manually checking)?

There are probably many ways to tackle this. If we are to offer a non-self contained, we may need t

[2020-09-23 12:46] taooceros commented on #149
Well, since I started using flow since version 1.2.0, I haven't been successfully update through auto & manually checking. I manually download it and install it. I think the internet issue may be due to my internet connection to GitHub since I am in China or some proxy issue, though not sure.
Part of the log here.
`2020-09-23 10:57:01.8048|ERROR|Updater.UpdateApp|-------------------------- Begin e

[2020-09-23 12:57] taooceros opened #163 "[Web Search Plugin] Encoding error makes unable to search"
**Describe the bug/issue**
I am unable to use the Web Search Plugin. By checking the log, it indicates that the customized encoding "GB2312" is not valid.

**Screenshots**
This is how it shows when try to search. The options disappear.
![image](https://user-images.githubusercontent.com/45326534/94015204-2516b180-fddf-11ea-9023-3a7ae502c808.png)

**Your System**
[code]
**Flow Launcher Error Log**

[2020-09-24 03:54] taooceros commented on #149
I have manually checked the error with debugging. The exception is actually "The operation out of time", while when I move the timeout setting up to 3000, sometimes the request can work for me.
However, it is still unstable for me.

Since in our Http class, it utilizes the httpwebrequest to create request, I tried to change it to the new HttpClient, and it works fine. That's seems strange to me, a

[2020-09-25 04:43] taooceros commented on #163
This seems due to the issue that .net core doesn't support GB2312 encoding.

[2020-09-28 14:41] tomgwilliams commented on #75
I'm running Edge version 85.0.564.63 [(64-bit) as my default browser, but looks like it's only picking up the bookmarks from Chrome or Firefox (which I also have installed).

Is the Boookmarks plugin looking to the bookmarks of the browser specified by the 'Browser Path' in the UI? Or the browser set as the computer's default?

[2020-09-28 22:28] jjw24 commented on #75
That's strange it should be picking up automatically along with bookmarks from firefox and chrome.

Can you do a reload plugin data and see if they come up. Let me know, if still nothing I will boot up a VM to check as I don't use edge atm.

Yep it's looking into the default bookmark store directory for the three supported browsers and building them into a single bookmarks library in the plugin. B

[2020-10-10 16:32] fdawans commented on #143
I was messing up with the indexing options as Flow was not finding VSCode.
For me, OFB and My Documents are not indexed.

I didn't have those issues when using Wox with Everything.
I could use the Everything plugin for Flow but unfortunately I don't have admin rights.
I don't know if the Everything plugin works without admin rights.

[2020-10-10 19:38] fdawans commented on #143
I also had issues with indexing but it seems that adding 'C:\Users\_username_' to the index makes it works for me.

[2020-10-11 10:54] fdawans commented on #135
Is there a way to make it work with a portable installation of Everything ?
It was working with Wox for me.

See #143

[2020-10-11 12:02] jjw24 commented on #143
Thanks for letting me know. I don't have OFB anymore so will take some time to investigate this again.

Explorer won't be able to index a server location, as this is a limitation of Windows Index Search.

[2020-10-11 12:05] jjw24 commented on #135
Where can I download the portable version of Everything, or is it a setting within Everything I need to select?

[2020-10-11 12:09] fdawans commented on #135
I used the portable zip 64bit [https://www.voidtools.com/downloads/](url)

[2020-10-11 12:16] jjw24 commented on #135
Ok cool, I will play around with it and let you know

[2020-10-11 20:27] Ciantic opened #166 "Empty last query is not working (neither is select last query)"
**Describe the bug/issue**
When I open FlowLauncher with hotkey <kbd>Win</kbd>+<kbd>N</kbd>, the launcher appears but it contains the last query.

This also happened to me in old Wox, as well as sometimes with your fork. But with Flow.Launcher it seems to happen all the time.

**To Reproduce**
Steps to reproduce the behavior:
1. <kbd>Win</kbd>+<kbd>N</kbd>
2. Type e.g. "g foo"
3. Hit enter
4. Noti

[2020-10-11 20:29] Ciantic commented on #166
There is some race condition I bet, the problem seems to come and go. Now it works again as I restarted the program, but on last run it didn't work at all.

Does the "empty last query" or "select last query" expect that the window is already fully visible? Somehow the old query flashes in there, maybe sometimes it starts work incorrectly.

[2020-10-12 01:48] #158 closed

[2020-10-12 01:48] #157 closed

[2020-10-12 02:03] Zeroto521 commented on #166
I firstly used FLow and changed the default config just as your way. It didn't work the same as yours.

But reload the Flow or restart the Flow, it worked again.

I think Flow can't load the config instantly when you change.

[2020-10-12 03:10] jjw24 commented on #149
Let me investigate as well and get back to you around this. I do agree the use of Factory Method design pattern but I feel it's a stretch for using it here where we have a plugin system.

[2020-10-12 03:13] jjw24 commented on #149
Yep thanks for letting me know, makes absolute sense that we should build something in to let users know it has failed. I will put in an issue for this.

[2020-10-12 03:16] jjw24 commented on #163
Thanks for the PR, let me do some testing as well before approving.

[2020-10-12 03:35] jjw24 opened #168 "Inform user when version update is not successful via windows notification"
Flow should inform the user when an error occurs or failure to update version manually or automatically via windows notification.

Currently error is written to log.

https://github.com/Flow-Launcher/Flow.Launcher/issues/149

[2020-10-12 06:26] jjw24 commented on #166
Yeah currently it seems it clears the query when it shows up. makes sense to clear when it hides.

[2020-10-12 06:35] jjw24 commented on #166
Strange I am not able to replicate with a fresh install. Are you still running to this problem with the new run?

[2020-10-12 09:31] taooceros opened #169 "[Explorer Plugin] Copy File from explorer plugin"
Sometimes when we search for files, we want to just copy the file and send it to others. Is it possible to add an option to copy the file when searching them with explorer plugin.

This links to [Wox #2691](https://github.com/Wox-launcher/Wox/issues/2691)

[2020-10-12 09:40] taooceros commented on #149
I think the plugin system won't be an issue of using the Factory Method design pattern. However, since Flow is not a WebApi program, injection of the Factory will be a little bit complex. However, I have checked the place the Proxy in Flow.Infranstrure.Http change. It seems that we only set the proxy in startup. If that's the case, I think one HttpClient instance will satisfy the need, by passing

[2020-10-13 03:21] jeremymeyers commented on #95
Please also these:

-  Discogs **http://www.wox.one/plugin/90**
-  SwiftTweet http://www.wox.one/plugin/63
-   Todoist http://www.wox.one/plugin/292
- Timer https://github.com/creativitRy/WoxTimer
- Graphical Timer https://github.com/JaroslawPokropinski/Wox.Plugin.GraphicalTimer

[2020-10-13 08:24] jjw24 opened #170 "Favourite plugin port requests"
Visit [here](https://flow-launcher.github.io/docs/#/port-plugins) on how to port .Net or Python plugins

Please only request Wox plugins you were using regularly.

Currently ported plugins, use `pm install` to install them:

- WoxDictionary https://github.com/jjw24/WoxDictionary/releases/latest

- Google Search Plus https://github.com/jjw24/Wox.Plugin.GoogleSearch/releases/latest

- SpotifyPremium

[2020-10-13 08:32] jjw24 commented on #170
From https://github.com/Flow-Launcher/Flow.Launcher/issues/95

![image](https://user-images.githubusercontent.com/26427004/95836097-c1065e00-0d8a-11eb-870f-c590b5330101.png)

-  Discogs **http://www.wox.one/plugin/90**
-  SwiftTweet http://www.wox.one/plugin/63
-   Todoist http://www.wox.one/plugin/292
- Timer https://github.com/creativitRy/WoxTimer
- Graphical Timer https://github.com/JaroslawPok

[2020-10-13 08:34] jjw24 commented on #95
hey no problem, I have created a dedicated issue to capture these plugin port requests.

Will be closing this issue and future requests please see the issue referenced above.

[2020-10-13 08:34] #95 closed

[2020-10-13 08:39] jjw24 commented on #169
Hey how's it going. This option should already exist via shift + enter on the file:
![image](https://user-images.githubusercontent.com/26427004/95836917-ba2c1b00-0d8b-11eb-836e-8575a5eb7682.png)

Is this what you are after?

[2020-10-13 08:54] jjw24 commented on #149
Makes sense. Do you think you can put in a PR so we can have a play with it as well?

[2020-10-13 10:26] fdawans commented on #135
FYI, I managed to install Everything as an admin so it works for me now.
It would still be nice if it would work without.

[2020-10-13 10:37] taooceros commented on #169
Oh sorry, that option is kindly invisible without rolling down. Thank you for telling me about it.

[2020-10-13 10:39] taooceros commented on #149
Sure, give me a little bit time to create a new branch since I am not quite familier with Git.

[2020-10-13 11:11] jjw24 commented on #169
no problem :)

[2020-10-13 11:11] #169 closed

[2020-10-14 01:03] Zeroto521 commented on #168
How about `window notification`?

[2020-10-14 01:16] jjw24 commented on #168
What do you mean? I was thinking of a notification from Flow , the one that pops up briefly.

[2020-10-14 01:24] Zeroto521 commented on #168
Like this.

![image](https://user-images.githubusercontent.com/25895405/95932561-c30a0480-0dfe-11eb-9c0a-830dcced00f2.png)

It is useful for me. It can group all notifications.

[2020-10-14 01:24] robertoleonardo opened #173 "Explorer Plugin - Change Default Editor"
Hi - is there a setting (within flow or by editing the appropriate file extensions/types in the registry) to change the default text editor using the explorer plugin?  I would like to be able to right click on, for example, a txt file when i've found it within flow and have the option to open with my preferred text editor instead of the default option to open with notepad.

Thanks for all your wor

[2020-10-14 01:29] jjw24 commented on #168
Is this from the windows 10 sidebar notification area?

[2020-10-14 01:31] jjw24 commented on #173
Hey how's it going. It's not built in yet so it always open up in Notepad. It is something good to build in. I will change this to feature request.

[2020-10-14 01:33] Zeroto521 commented on #168
Yes. You can see it.

![image](https://user-images.githubusercontent.com/25895405/95933135-4bd57000-0e00-11eb-8787-8ea3d02ec42a.png)

[2020-10-14 01:36] Zeroto521 commented on #168
Yes. You can see it.

![image](https://user-images.githubusercontent.com/25895405/95933135-4bd57000-0e00-11eb-8787-8ea3d02ec42a.png)

Unless you start up the `focus assist`. But notifications are still can show on here.

![image](https://user-images.githubusercontent.com/25895405/95933243-acfd4380-0e00-11eb-8de6-3b3c6dc57d70.png)

[2020-10-14 01:40] jjw24 commented on #168
Yeah ok. We might have to do this in two prs. I want to roll this out relatively quicker so I will just do the usual pop up notification, the second pr could add this new message toast in for all notifications from Flow, which is a bigger change, bearing in mind also of win 7, 8 support as well.

[2020-10-14 01:45] Zeroto521 commented on #168
Use window API to do this, notification will have a bubble at the taskbar in win7, 8 as I remember.

[2020-10-14 22:39] #142 closed

[2020-10-15 09:07] taooceros opened #174 "Merge performance improvements from Wox"
**Discussion**
I think @bao-qian has made quite a lot of performance improvements at the new prerelease version of wox.
Should we merge some of the change to flow?

[2020-10-15 09:17] jjw24 commented on #174
I had a look earlier and tried some of the new changes, they don't seem to be applicable for Flow.

Are there any particular changes you are thinking of?

[2020-10-15 11:30] taooceros commented on #174
There is some of the changes that are useful for us.
1. Index for win32 App (seems that the code can be optimized quite a lot).
2. Some code in Win32 App
3. @bao-qian has changed the pinyin library to [url](https://github.com/toolgood/ToolGood.Words.Pinyin). I have taken a look on the pinyin library, and it seems that the current one is somewhat inefficient (though work fine), and the startup time

[2020-10-16 01:42] Zeroto521 opened #175 "About the Flow website"
I saw you @jjw24 have forked [Website](https://github.com/jjw24/Website).

I can rewrite a website belongs to Flow.

I'm also a full-stack developer (by Bootstrap as frontend, Flask as backend).
An example, its name called [iPicture](https://github.com/Zeroto521/ipicture) ~(one of the website projects in my college period, and not enough good, it will be private again in later days)~.

But I'm not

[2020-10-16 02:15] jjw24 commented on #175
That would be legendary.

I forked the website only because there was a period that it went down so I thought it is needed to have a back up. So by no means we need to stick to the tech stack used there.

We should have a standalone branch called Flow.Launcher.Website

Any ideas, content, layout suggestions @Flow-Launcher/team ?

[2020-10-16 05:49] #163 closed

[2020-10-16 17:40] Ciantic commented on #166
Yeah, it doesn't work at the first start I have to close the app and restart to get the setting working.

However I think it would be better to run the command on window hide, because for instance with "Select last query" there is slight delay until it selects. I'm not sure can user actually hit keys during that time but it might be possible.

[2020-10-17 02:18] jjw24 commented on #170
Hey @jeremymeyers, unfortunately the repo Wox.Plugin.Discogs is no longer available. I wont be able to port it.

[2020-10-17 03:33] Zeroto521 commented on #175
OK, we discuss this topic here.

But it seems strange, @Flow-Launcher/team no GitHub's notification for me. I can see this only click this link.

Did you get some notifications from the team discussion?

[2020-10-17 06:35] taooceros commented on #136
I have checked the code and added a manually acronym search (by picking up the first letter and do another search). If you think it is a good idea to do that, I can create a pull request for that.
I think Wox has implemented a native search for acronym search, but I am unable to understand Bao's change for fuzzy search for now, so I just manually added one, and it seems that the performance won't

[2020-10-17 21:08] jjw24 commented on #175
Yeah I don't think I get a notification with the team mentions.

Can you join our official Flow discord channel https://discord.gg/AvgAQgh, we can bring the discussion over there.

[2020-10-18 01:12] jjw24 commented on #175
repo has been created, https://github.com/Flow-Launcher/Flow.Launcher.Website

[2020-10-18 02:49] jjw24 commented on #136
Sorry I still havent got around to this, but I believe the problem is scoring (where scoring is not enough to make the standard score of 50) rather than missing behaviour. I will need to confirm this.

[2020-10-18 04:01] taooceros commented on #136
That's true, I have checked a few days ago by changing the accuracy of search.
However, I think it would be better to have a seperate search of acronym search since that is useful. With current fuzzy search, search with acronym will result a low score and make the result rank low.

[2020-10-18 04:54] jjw24 commented on #136
I think we could easily embed into current fuzzy search, whether the character from the query matches the start of each substring to determine if it is acronym search. If it is, bump the score of the search result. My concern is introducing a separate search where the code traverses fuzzy search then traverses acronym search if this is what you mean.

[2020-10-18 07:11] taooceros commented on #136
Yes, that what I mean.
I implement that in the Result method for IProgram so that other utility of fuzzy search won't change. If you want, you can take a look on the change of code of Win32 and UWP Result method in my branch AcronymSearch.
I also think that acronym search can be used quite common, and it can reduce quite a lot typing when opening program, so that there may not be a need to determi

[2020-10-18 09:09] jjw24 commented on #136
I am actually thinking we can expand fuzzy search to adopt acronym search rather than adjusting the search behaviour for Programs plugin

Agree

[2020-10-18 10:02] taooceros commented on #136
That sounds great. I think Wox may have made the changes for that, though I haven't understood how they have done this job, since @bao-qian has changed quite a lot for the fuzzy search algorithm.
However, without changing the algorithm is not hard and I can finish it by migrating my change for program plugin easily. I will create a pull-request later for that so that it will be easier for us to ta

[2020-10-19 11:13] Xenolphthalein commented on #170
Hey i would love to see the Clipboard History Tool from Wox in FlowLauncher.
https://github.com/Wox-launcher/Wox.Plugin.ClipboardManager
That always was my most used tool from Wox / Alfred / Albert.

[2020-10-19 12:11] nullnullnullnull0 opened #186 "Selecting the end of a long string causes the text to overlap"
![copied-2020-10-18-21_34_43](https://user-images.githubusercontent.com/21099726/96449313-3d93b380-1247-11eb-9bea-4786e1a4cdc9.png)
![copied-2020-10-18-21_34_56](https://user-images.githubusercontent.com/21099726/96449324-41bfd100-1247-11eb-9ccb-338c09102769.png)

g pneumonoultramicroscopicsilicovolcanoconiosis

[2020-10-19 12:16] gundamhyl commented on #186
I think the problem is caused by auto suggestions, is there an option to turn off this feature?

[2020-10-19 12:33] Zeroto521 commented on #186
Really have we this problem？I mean we may not key in such strange keywords.
But this is a bug for Flow indeed.

[2020-10-20 09:50] jjw24 commented on #186
There is currently no option to turn that off, I prefer to have this fix though haha. I am aware of it but never got around to looking into why.

[2020-10-22 19:35] EliSadaka opened #187 "Allow using any shell with Shell plugin"
**Is your feature request related to a problem? Please describe.**

It is currently only possible to trigger the command line, Windows Powershell, or the Run command with the Shell plugin. This is not ideal for users who prefer using WSL or newer versions of Powershell. It is possible to run commands in any shell from Flow Launcher, but it requires typing in the specific command for the desired sh

[2020-10-23 09:13] highend opened #188 "Program plugin - Limit search depth + suffixes for individual folders"
**Is your feature request related to a problem? Please describe.**

I'm getting too many results (from which I've normally only need one / a few specific ones)
E.g. from a main folder (that may contain a normal .exe which I would like to get listed) but which has subfolders that contain .bat files (which I don't want to be listed).

**Describe the solution you'd like**

I would like two additional

[2020-10-31 04:23] taooceros commented on #187
I think if you simply want to run those command with a specific shell by typing specific keyword, you can do it by > pwsh -c <commands> or bash -c <commands>.
Or if don't want to return back to the cmd windows, it will be possible to open wsl or pwsh by typing bash or pwsh directly, and the shell will be run in the cmd/Powershell window.

[2020-10-31 06:13] Zeroto521 commented on #188
Well, I think Flow is a tool for **quicky** launching something.
If there has something you want to find try to use the Flow backend search engine - **Everything**.
It may be better in this condition. And **Everything** does well in this way.

[2020-11-03 11:05] kubalav opened #193 "Plugin Program - open containing folder in custom file explorer"
I don't use Windows Explorer. I would like to open containing folder in Total Commander. Plugin Everything works like a charm.

Can you implement this feature?

[2020-11-03 15:30] taooceros commented on #193
Which plugin are you using? Everything or the Explorer plugin?

[2020-11-03 15:47] kubalav commented on #193
I mean Program plugin. Everything plugin works with folders (single click), but not with Open parent folder (right click on item).
Program plugin doesn't work to open containing folder (right click on item).

[2020-11-03 15:50] taooceros commented on #193
Got it, and I will try to implement that soon. Thank you for the suggestion.

[2020-11-04 10:56] jjw24 commented on #193
Hi @kubalav could you please test this build to see if it is as intended: https://ci.appveyor.com/api/buildjobs/2dcxc0jwdsg7x2ta/artifacts/Output%2FPackages%2FFlow-Launcher-v1.3.1.zip

[2020-11-04 12:34] kubalav commented on #193
I entered path to the Total Commander executable and it is works. It opens new instance of Total Commander.
Can you adjust it to open in existing instance?

[2020-11-04 12:44] taooceros commented on #193
Check out here http://www.ghisler.ch/wiki/index.php/Command_line_parameters. Take a try on add /O to the path? If that doesn't work, I will create another textbox to allow adding customized arguments.

[2020-11-04 12:55] kubalav commented on #193
It unable to start with `"C:\Program Files\Total Commander\TOTALCMD64.EXE" /O`

[2020-11-04 12:57] taooceros commented on #193
OK, I will add another textbox to do the job. Thank you for testing!

[2020-11-04 14:24] taooceros commented on #193
@kubalav take a try on this one. [](https://ci.appveyor.com/api/buildjobs/dr2p3y5na9mubina/artifacts/Output%2FPackages%2FFlow-Launcher-v1.3.1.zip).
I don't have an explorer that is useful with arguments, so I am not sure whether this works. But I have tested it with explorer and it seems works.

[2020-11-04 14:57] kubalav commented on #193
Wow! It's working. Thank you!

Can you make it for Everything plugin too?

[2020-11-04 15:04] taooceros commented on #193
Sure, I will do that tomorrow.

[2020-11-04 15:09] taooceros commented on #193
Just to make sure, are you using the everything plugin, which is built in on wox, or the explorer plugin, which is built-in on Flow.

[2020-11-04 15:11] kubalav commented on #193
From Wox.

[2020-11-04 15:13] taooceros commented on #193
ok

[2020-11-04 15:24] taooceros commented on #193
Sorry for being troublesome, would you please tell me which version of everything plugin is you using so that I can fork the right repository, since everything plugin is not built in with the main repository of Flow.

[2020-11-04 15:33] kubalav commented on #193
I use this version: https://github.com/Flow-Launcher/Flow.Launcher.Plugin.Everything/releases
v1.1.0

[2020-11-05 05:20] taooceros commented on #193
[Flow.Launcher.Plugin.Everything.zip](https://github.com/Flow-Launcher/Flow.Launcher/files/5492131/Flow.Launcher.Plugin.Everything.zip)
@kubalav Take a try.

[2020-11-05 08:13] kubalav commented on #193
It's working partially. Opening file parent folder works. Folders opens in Explorer.exe. (Single click to result folder)

[2020-11-05 09:59] taooceros commented on #193
Oh from the quote I think the everything plugin already work for single click, so I only change the part for the parent folder. I will implement that, too.

[2020-11-05 10:42] taooceros commented on #193
[Flow.Launcher.Plugin.Everything.zip](https://github.com/Flow-Launcher/Flow.Launcher/files/5493723/Flow.Launcher.Plugin.Everything.zip)
@kubalav Take a try.

[2020-11-05 11:40] kubalav commented on #193
@taooceros Working as expected!

╰(*°▽°*)╯

[2020-11-07 16:31] kubalav commented on #193
Everything plugin have problem opening folder containing space. It opens path without space.
E.g.:
"C:\Users\Vlado\AppData\Roaming\7+ Taskbar Tweaker\"
it opens
"C:\Users\Vlado\AppData\Roaming\"

[2020-11-07 16:35] taooceros commented on #193
I think it may due to that I didn't add another "" for the path in the location, I will fix that, tomorrow. Thank you for pointing out the issue.

[2020-11-07 16:41] taooceros commented on #193
[Flow.Launcher.Plugin.Everything.zip](https://github.com/Flow-Launcher/Flow.Launcher/files/5505103/Flow.Launcher.Plugin.Everything.zip)
I have added the fix, but don't have time to tested it. You can take a try on it.

[2020-11-07 17:09] kubalav commented on #193
It is fixed now. Thanks a lot.

[2020-11-07 17:11] taooceros commented on #193
Good to hear!

[2020-11-10 20:52] #193 closed

[2020-11-12 03:34] taooceros opened #197 "Upgrade to .Net 5"
.Net 5 has released. Should we upgrade the project to .Net 5?

[2020-11-12 09:50] jjw24 commented on #174
I think the above is done right?

[2020-11-12 09:52] jjw24 commented on #197
yep we should, but the main [goal](https://github.com/Flow-Launcher/Flow.Launcher/projects) at the moment is to fix up and improve the plugin model, and address the high memory/cpu issue https://github.com/Flow-Launcher/Flow.Launcher/issues/128

[2020-11-12 10:08] taooceros commented on #197
Yes, I have taken a try on updating, not too hard to do the job except changing part of the configuration file for browser bookmark and websearch, and updating the modernwpf package.

[2020-11-12 10:45] jjw24 commented on #197
yeah cool. I meant feel free to work on which ever enhancements you like, just for myself though I will be give time priority to those above main area of focuses.

[2020-11-12 11:55] taooceros commented on #197
Yes sure, of course we should spend more time on the more important things. Just to mark a potential future improvement.

[2020-11-12 14:28] taooceros commented on #174
Yes, almost done.

[2020-11-13 02:41] taooceros opened #198 "Unable to initialize WoxDictionary Plugin (dev branch)"
**Describe the bug/issue**
After updating the new plugin dependency update, I am unable to initialize the WoxDictionary plugin.

**Flow Launcher Error Log**
![image](https://user-images.githubusercontent.com/45326534/99021962-c4188800-259c-11eb-94bb-a907d7d9f0be.png)

[2020-11-13 02:51] jjw24 commented on #198
You are using the Dev branch I see. The plugins need to have project attribute to output all assemblies files. I will fix that up for all exported plugins tonight

[2020-11-13 02:53] taooceros commented on #198
Thank you!

[2020-11-13 10:47] jjw24 commented on #198
All done :) https://github.com/jjw24/WoxDictionary/releases/tag/v2.0.1

[2020-11-13 10:47] #198 closed

[2020-11-13 11:04] taooceros commented on #198
Thanks!

[2020-11-14 09:25] taooceros opened #199 "[Explorer Plugin] Fail to query text with special character"
**Describe the bug/issue**
Sometimes, the explorer plugin may fail to query text with special characters.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/45326534/99144119-feb61980-269d-11eb-8714-8530bd460d71.png)

**Flow Launcher Error Log**

[code]

[2020-11-14 13:40] kubalav opened #200 "Everything plugin error after update"
After FlowLauncher update to 1.4.0 version, Everything (1.1.0 and 1.1.1 version) plugin throw error:

[2020-11-14 14:04] taooceros commented on #200
This is because of the plugin depency update. @jjw24 please take a look to fix that.

[2020-11-14 18:30] giggio opened #201 "Make it easier to add a custom theme"
**Describe the solution you'd like**

Currently the theme settings tab already has a link to "Browse for more themes" and that is super useful. But it is not clear where to put the theme you created.

I found out reading the code that it is supposed to be at `%APPDATA%\FlowLauncher\Themes`, so I added it there and it worked. If it is a portable installation it will be different.

It would be nice

[2020-11-15 06:10] deefrawley opened #203 "URL's in Settings don't respect default system browser and just use Google Chrome"
**Describe the bug/issue**
Settings - Theme, Plugin and About pages. All URL's start a Google Chrome instance despite Brave Browser being my default browser.

**To Reproduce**
Steps to reproduce the behavior:
1. Set a browser default to something other than Chrome
2. Open Settings either from Flow or from the tray menu
3. Click on any hyperlink

**Your System**
[code]

[2020-11-15 08:38] jjw24 commented on #200
Hey @kubalav how's it going.

It is resolved. Try the latest release of Everything with Flow 1.4.0: https://github.com/Flow-Launcher/Flow.Launcher.Plugin.Everything/releases/latest

[2020-11-15 08:38] #200 closed

[2020-11-15 11:40] kubalav commented on #200
It is working now! Don't forget to increase version number to 1.1.2 in plugin.json

[2020-11-15 11:41] jjw24 commented on #200
Yeah it shud already be done with the fix

[2020-11-15 11:45] kubalav commented on #200
Try to download the latest version and see version, you will see 1.1.1

[2020-11-15 11:52] jjw24 commented on #200
Oh ok, must have packed the previous commit, I will fix that up. Thank you for letting me know.

[2020-11-15 19:33] jjw24 commented on #201
This new enhancement will go out in the next release :)

[2020-11-15 19:33] #201 closed

[2020-11-15 20:16] jjw24 commented on #203
Hey how's it going.

I haven't looked into opening with default browser yet, but can you open brave browser by setting the path to brave's exe in the plugin?

[2020-11-15 20:57] kubalav opened #209 "Program plugin doesn't work"
Program plugin doesn't show result in latest version. I tried clean installation.

[2020-11-15 23:24] taooceros commented on #209
Could You please upload the log so that it will be easier to debug?

[2020-11-16 02:54] deefrawley commented on #203
Hi Jeremy,

I added the explicit Brave path to the URL and the Web Search plugin and restarted Flow. It still uses Chrome.

[2020-11-16 06:44] kubalav commented on #209
I tried reindex.
[2020-11-16.txt](https://github.com/Flow-Launcher/Flow.Launcher/files/5544499/2020-11-16.txt)

[2020-11-16 08:35] taooceros commented on #209
[code]

Let me take a look, but I think if there is only two program that is unable to load, other programs should be loaded successfully.

[2020-11-16 08:51] kubalav commented on #209
It doesn't work at all.

[2020-11-16 08:56] taooceros commented on #209
Would you try open Flow with Administer Authorization? One of the log suggests Access denied.
I have just checked the win32 indexing and it works for me.
By the way, is any UWP app can be loaded?

[2020-11-16 09:01] kubalav commented on #209
I runs Flow with Admin access. I see UWP app only, not win32.

[2020-11-16 09:13] taooceros commented on #209
Let's try clicking this button and see what we get.
![image](https://user-images.githubusercontent.com/45326534/99234062-048f3480-282f-11eb-8779-3f635b799ef4.png)

[2020-11-16 09:22] kubalav commented on #209
UWP only from C: drive
![flow_progra_plugin_all_program_list](https://user-images.githubusercontent.com/37414585/99235020-99753c00-27f5-11eb-8a3f-02bbbb804bb1.png)

[2020-11-16 11:13] jjw24 commented on #209
Hey @kubalav how's it going, can you see if previous flow version has the same problem for plugin?

Also are you able to boot into windows sandbox and try?

I am away from comp most of the day, will take a look at your log later.

[2020-11-16 12:01] taooceros commented on #209
[code]

[code]

I think this error block the All function to create index. So,maybe try to remove `E:\` from program file source and reindex?
But why does that throw?

[2020-11-16 12:11] kubalav commented on #209
I tried Window Sandbox a few times. I tried new WS config (without shared folders) and Program plugin works. I copied this portable version to normal computer and changed index path to Program Files. Not working.

[2020-11-16 12:15] kubalav commented on #209
@taooceros I kept Program files only, no success.

[2020-11-16 12:48] taooceros commented on #209
Well, I don't think the program plugin need to include index path to Program Files for working. I have tried portable mode in my computer, and it seems working correctly.

Sorry for the troubles, but could you please update the logs without E:\

[2020-11-16 12:57] taooceros commented on #209
I think I found the potential reason of why one single exception may block the whole index from creation. It maybe cause by the use of IEnumerable, which contains the characteristics of lazy processing, so the try catch within each sub index method doesn't catch the processing error elsewhere?

Let me change the indexing contruction of program plugin a few, and check whether it is because of that.

[2020-11-16 12:59] kubalav commented on #209
The latest log:
[2020-11-16.log](https://github.com/Flow-Launcher/Flow.Launcher/files/5546338/2020-11-16.log)

[2020-11-16 13:19] taooceros commented on #209
@kubalav
[Flow.Launcher.Plugin.Program.zip](https://github.com/Flow-Launcher/Flow.Launcher/files/5546436/Flow.Launcher.Plugin.Program.zip)
Could you please replace the program plugin in the current FlowLaucher Plugin folder with this one and try?

[2020-11-16 13:25] kubalav commented on #209
No change.

[2020-11-16 13:26] taooceros commented on #209
Have you reindexed? If you have done it, please paste the log.

Sorry for the troubles.😖

[2020-11-16 13:36] kubalav commented on #209
Reindexed, restarted Flow.
[2020-11-16.log](https://github.com/Flow-Launcher/Flow.Launcher/files/5546565/2020-11-16.log)

[2020-11-16 13:38] taooceros commented on #209
from the log, I haven't seen anything error of win32 programs indexing. Is that work now?

[2020-11-16 13:42] taooceros commented on #209
Sorry there is some error on the log, Let me take a look on it.

[2020-11-16 13:46] taooceros commented on #209
But I haven't seen the exception of Aggregate exception, is there any win32 program exist on the result view now?

[2020-11-16 14:04] kubalav commented on #209
I see some win32 apps now (stored in C: drive).

[2020-11-16 14:12] taooceros commented on #209
Nice! Let's try E:

[2020-11-16 14:16] kubalav commented on #209
After adding E: drive

[code]

[2020-11-16 14:26] taooceros commented on #209
[code]

Don't understand why only change the log way when length only less than 4, but actually need to be 5 to be accessed with [4]. Let me change this and could you please use that one to log again?

[2020-11-16 14:29] taooceros commented on #209
[Flow.Launcher.Plugin.Program.zip](https://github.com/Flow-Launcher/Flow.Launcher/files/5546848/Flow.Launcher.Plugin.Program.zip)

[2020-11-16 18:04] kubalav commented on #209
[code]

[2020-11-16 20:02] jjw24 commented on #209
[Flow.Launcher.Plugin.Program.zip](https://github.com/Flow-Launcher/Flow.Launcher/files/5549368/Flow.Launcher.Plugin.Program.zip)

Can you give this version a shot and upload the logs if still errors

[2020-11-16 20:04] jjw24 commented on #209
[Flow.Launcher.Plugin.Program.zip](https://github.com/Flow-Launcher/Flow.Launcher/files/5549375/Flow.Launcher.Plugin.Program.zip)

Can you give this version a shot and upload logs if still erroring

[2020-11-17 01:38] taooceros commented on #209
Hey @kubalav , after rechecking the code, I found out the last version I give you unintended restore a change that I want to make to catch result separately instead of aggregate exception. My bad, sorry for that.

I think in 1.4.0, I have made the directory enumeration in one single call, which will lead to if one exception has been called, the whole program source folder won't be indexed. Therefo

[2020-11-17 01:44] taooceros commented on #209
[Flow.Launcher.Plugin.Program.zip](https://github.com/Flow-Launcher/Flow.Launcher/files/5550729/Flow.Launcher.Plugin.Program.zip)

Sorry for all the inconvenience.

[2020-11-17 09:00] kubalav commented on #209
[code]

[2020-11-17 09:20] jjw24 commented on #209
@taooceros ignore the GetDescription error, those are common ones that has no impact.

Do we know where the error is thrown from? it seems an unhandled exception caught finally by the try catch in 'Win32.All' method.

It's a custom location so assuming it's coming somewhere inside 'UnregisteredPrograms()' call?

[2020-11-17 09:26] taooceros commented on #209
`2020-11-17 09:59:42.7856|ERROR||fail to log exception in program logger, parts length is too small: 1, message: Permission denied E:\Programy`
https://github.com/Flow-Launcher/Flow.Launcher/blob/98630d1af58998e76b24bf8f5c2423d1b1f747a0/Plugins/Flow.Launcher.Plugin.Program/Programs/Win32.cs#L156-L180

Here, so the issue is that we don't have permission to E:\

[2020-11-17 09:35] jjw24 commented on #209
logging should be written out to the app's user data directory, if it's thrown from logging his app would terminate and not able to log.

The original error is unauthorised access to 'E:\System Volume Information'

[2020-11-17 09:36] jjw24 commented on #209
@kubalav  have you tried my build? [Flow.Launcher.Plugin.Program.zip](https://github.com/Flow-Launcher/Flow.Launcher/files/5549375/Flow.Launcher.Plugin.Program.zip)

[2020-11-17 10:05] taooceros commented on #209
I think since ProgramLogger is not the Global Logger, maybe even though ProgramLogger throws an error, the application won't be terminated since the Global Logger will catch that general error. However, I think this error may terminate the index process and the log process to write to the file. So maybe there is another error that hasn't been logged successfully to the file?

[2020-11-17 10:36] kubalav commented on #209
Reason is unauthorized access to 'E:\System Volume Information' and one other files with restricted access. It would be fine to add exclude list like in Wox.

@jjw24 Your build doesn't help.

[2020-11-17 10:43] taooceros commented on #209
Well, the exclude list does exist in Flow. However, the enumeration way doesn't allow that to work. Maybe it may be better to not use the `ToList()` method simply from enumeration, but enumerate manually and catch result if fail and continue other enumeration. Let me take a try.

[2020-11-17 10:57] taooceros commented on #209
I found out the method to solve this. Let me finish that and I will post the fix. https://stackoverflow.com/questions/172544/ignore-folders-files-when-directory-getfiles-is-denied-access

[2020-11-17 11:01] taooceros commented on #209
[Flow.Launcher.Plugin.Program.zip](https://github.com/Flow-Launcher/Flow.Launcher/files/5552998/Flow.Launcher.Plugin.Program.zip)
Take a try, and I think this one will skip all inaccessible folder.

[code]

Fix that by using `EnumerationOptions` with `IgnoreInaccessible` instead of `SearchOptions.AllDirectory`. I have tested it in my computer with an unaccessable folder.

[2020-11-17 11:09] kubalav commented on #209
Not works yet.
It still throws:

`Exception message: One or more errors occurred. (One or more errors occurred. (Access to the path 'E:\System Volume Information' is denied.)) (Access to the path 'E:\System Volume Information' is denied.)`

[2020-11-17 11:11] taooceros commented on #209
Hey @kubalav , sorry I build the wrong version.... I am afk now about 15 minutes, I will upload that again after I get to computer.

[2020-11-17 11:57] taooceros commented on #209
Let's try
[Flow.Launcher.Plugin.Program.zip](https://github.com/Flow-Launcher/Flow.Launcher/files/5553266/Flow.Launcher.Plugin.Program.zip)

[2020-11-17 12:03] kubalav commented on #209
It seems to work fine.

[2020-11-17 12:16] taooceros commented on #209
Nice! Sorry for all the bothering and troubles and thank you so much for testing @kubalav ! I will create a PR to add the fix.

[2020-11-17 12:20] kubalav commented on #209
Thank you for fixing. 👌

[2020-11-17 12:20] #209 closed

[2020-11-17 13:11] kubalav opened #211 "Translations doesn't apply to context menu in notification area"
Context menu in notification area contains 3 string (Open, Settings, Exit) in English only.

[2020-11-17 14:45] taooceros commented on #203
I think the brower used to open the link in setting windows won't link to the brower path in web search plugin and url. I think Jeremy has misunderstood your question.
I have taken a look on the implementation of the hyperlink, and the default is chrome.
https://github.com/Flow-Launcher/Flow.Launcher/blob/98630d1af58998e76b24bf8f5c2423d1b1f747a0/Flow.Launcher.Plugin/SharedCommands/SearchWeb.cs#L14

[2020-11-18 01:49] deefrawley commented on #203
Thanks @taooceros. I did temporarily switch my default browser to Edge and restarted Flow to try that (and make sure it wasn't something specific to Brave) but it still used Chrome. I could try uninstalling Chrome altogether to see what happens if that would help?

[2020-11-18 02:05] taooceros commented on #203
I found out that why in my computer it works, because I don't have chrome installed😅. If that is not too troublesome for you, you can try that. However, let me take a try to find out the way to use default browsers to open url if no specific browser path has provided. I think using chrome as default is not working as intended.

[2020-11-18 02:08] taooceros commented on #211
Are you mean this one?
![image](https://user-images.githubusercontent.com/45326534/99473646-f0118000-2985-11eb-8a6d-c043d1cc5e48.png)

[2020-11-18 02:41] taooceros commented on #203
[Flow.Launcher.Plugin.zip](https://github.com/Flow-Launcher/Flow.Launcher/files/5557361/Flow.Launcher.Plugin.zip)
@deefrawley I am not sure whether it is possible to take the change via changing one specific dll, but take a try to replace the dll with the one in the zip. For now, the behavior should open the default browser in a new window.

[2020-11-18 03:38] mimecry opened #212 "Text rendering issue on HiDPI screen"
**Describe the bug/issue**
On a HiDPI screen, the interface seems to be _somewhat_ blurry and lacking in sharpness.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Flow on a machine with HiDPI display (i'm using a 14" 2560x1440 screen at 150% scaling)
2. Launch the software

**Screenshots**
The following is a screenshot comparison between Flow 1.4.0 (top, dark blue) and the latest Wo

[2020-11-18 06:45] kubalav commented on #211
See this:
![flow_launcher_context_menu_notification_area](https://user-images.githubusercontent.com/37414585/99494820-f564cf80-2971-11eb-99ee-9c30a95d3cc3.png)

[2020-11-18 07:42] taooceros commented on #211
I have checked the code, and it seems because we changed the default language to the language in the setting later than the initialization of tray, and the ChangeLanguage method seems doesn't include the change for the name of the tray. Maybe this can be solved by adding changing resource to the tray name, since the ChangeLanguage method cannot be put earlier. I am not sure how to do that...... Le

[2020-11-18 09:42] deefrawley commented on #203
Yes, that new DLL worked thanks.

[2020-11-18 10:45] jjw24 opened #213 "Explorer plugin- Open directory location in cmd, bash or powershell via context menu"
**Is your feature request related to a problem? Please describe.**

Allow Explorer plugin to open via context menu the directory location in cmd, bash or powershell

**Describe the solution you'd like**

In the Explorer plugin, when in a directory, go to context menu and have the options to open the directory location in cmd, bash or ps.

[2020-11-19 09:38] jjw24 commented on #209
Hey @taooceros thank you for the great work :) This is a good find and fix

[2020-11-19 09:39] jjw24 commented on #209
Thank you for your patience while this bug gets dug up as well @kubalav

[2020-11-20 14:26] #203 closed

[2020-11-21 03:53] taooceros commented on #149
I have checked squirrel.windows, and it seems that they have natively supported Delta update, which only replace the code that has changed. However, I am not sure why Flow doesn't support that.

[2020-11-21 10:41] jjw24 commented on #149
Yeah I am aware of it, but never had the time to look into it, just wasn't too high on my priority list

[2020-11-22 03:45] pc223 commented on #170
I use this plugin a lot :smile:, crucial to my workflow (a lot of windows switching),

https://github.com/Wox-launcher/Wox.Plugin.Switcheroo

This's a plugin base on [this](https://github.com/kvakulo/Switcheroo)

Another similar one call [WindowWalker](https://github.com/betsegaw/windowwalker), heard them ported to PowerToys Run, but I never tried it.

[2020-11-22 11:01] taooceros opened #217 "Question: Should we allows multiple plugins uses same action keyword?"
https://github.com/Flow-Launcher/Flow.Launcher/blob/69a5f291512edac4237269b1e047f89f15597f78/Flow.Launcher.Core/Plugin/PluginManager.cs#L122-L126

Based on this code, it seems that if action keyword conflict, only the last one will be kept.

[2020-11-22 11:45] jjw24 commented on #217
The current behaviour is warn and stop user from assigning duplicate action keywords.

Not sure how it behaves with downloaded plugin having duplicate action keywords, I think it might throw plugin loading error?

But current design is to not allow duplicates.

[2020-11-22 14:44] taooceros commented on #217
That's true.

Not sure about that. I tried to modify the plugin.json file from plugin directory, and restart flow, but nothing happens. However, nothing in the code shows potential about plugin action keywords conflict will throw an error on loading, even though we do prevent users from assigning duplicate action keywords. Maybe we should add the check on it?

[2020-11-22 19:55] jjw24 commented on #217
What would actually happen if action keywords are duplicated in two plugins, you get two sets of results right, one from each set right? But other than that any potential problems?

[2020-11-23 01:53] taooceros commented on #217
Well, I think only one of the sets of results will be displayed, because the later one registering the action keyword will overwrite the earlier one.

[2020-11-23 02:04] jjw24 commented on #217
Oh ok, I think the behaviour then would be to load and disable the external plugin and output a message to let user know why it is disabled?

Or do we just want to automatically update it to a new keyword?

[2020-11-23 02:25] taooceros commented on #217
Maybe we can allow duplicate key, so that we put the control to users about whether they want to search those two plugin with the same duplicate key.

That seems also good, but we need to notify user when doing that.

[2020-11-23 02:27] jjw24 commented on #217
I am ok with allowing duplicate keys as long as there are no side effects

[2020-11-24 00:23] Xenolphthalein commented on #170
I created a port of the ClipboardManager Plugin. You can find it here:
https://github.com/Xenolphthalein/Flow.Launcher.Plugin.ClipboardHistory

[2020-11-25 05:56] taooceros opened #220 "Question about Plugin Development"
A few question about the development of plugin.

**Question**
1. Is it possible for plugin to utilize some method in Flow.Infructure such as the string matcher?
2. How to debug the plugin without copying the whole folder to the Flow source project?

[2020-11-25 09:14] jjw24 commented on #220
hey how's it going.

1. Definitely, and this can be exposed through the IPublicAPI interface. Also another function from Infrastructure that can be useful is the JsonStorage class for saving settings.

2.  I can see this being useful, maybe publish Flow as a nuget as well so can be called and run by individual plugins?

[2020-11-26 20:11] #42 closed

[2020-11-29 07:58] taooceros commented on #211
https://github.com/Wox-launcher/Wox/pull/3100 has provided the fix toward this, I will port it soon.

[2020-11-29 08:50] Zeroto521 opened #224 "Update wiki Flow Launcher APIs docs"
wiki Flow Launcher APIs docs link is https://github.com/Flow-Launcher/Flow.Launcher/wiki/Flow-Launcher-APIs

I have written some APIs from https://github.com/Flow-Launcher/Flow.Launcher.JsonRPC.Python/blob/master/flowlauncher/FlowLauncherAPI.py.

This doc may help other developers.

I issue this for Are there any new APIs that missed?

[2020-11-29 09:03] jjw24 commented on #224
I don't see Flow.Launcher.ShellRun, where is that at?

[2020-11-29 09:07] Zeroto521 commented on #224
There are also see this https://github.com/Flow-Launcher/Flow.Launcher/blob/6617d03c32bba290f9cd93105dea4feb24772820/JsonRPC/wox.py#L55-L59

[2020-11-29 09:15] jjw24 commented on #224
Oh ok, so that list is for the JsonRPC api right, maybe we need to make it clear in the wiki

[2020-11-29 11:57] Francesco270 commented on #170
Here are my favourites, sorted from most used to less:
- Translating plugins: Google Translate https://github.com/lances101/Wox.Plugin.GoogleTranslate, Gtranslate https://github.com/CN-DXTZ/Wox.Plugin.Gtranslate, Yandex Translate http://www.wox.one/plugin/173
- ToggleCase https://github.com/sobujbd/Wox.Plugin.ToggleCase
- Recall https://github.com/ZzzGin/wox-recall
- Todos https://github.com/alann

[2020-11-29 12:54] taooceros commented on #220
Great, I will work around on it and take a look on how to expose that method to IPluginAPI.

Interesting, but is that means that plugin may need to depend on Flow to debug, which is a bit large, and remove it when publishing? Not familiar with that.

[2020-11-29 13:10] taooceros commented on #220
There is a question when expanding the plugin api. Since IPublicAPI is under Flow.Launcher.Plugin namespace, it is unable to reach back to the class created in Flow.Launcher.Infrastructure namesapce. So if I want to reference to the class from Infrastructure, I may need to create a similar copy of that in Plugin namespace, which is weird....

[2020-11-29 19:51] jjw24 commented on #220
Flow.Launcher.Plugin.PluginInitContext class contains IPublicAPI, so I think you can do something similar like ReloadAllPluginData() right?

[2020-11-29 19:54] jjw24 commented on #220
yeah good point, will be large. Maybe a slim down version of it? i guess the goal is allow the plugin to load, start up and run on its own.

[2020-11-29 19:56] jjw24 commented on #170
Can YouTubeQuery https://github.com/TheDoctor0/YouTubeQuery be replaced with the youtube search in WebSearch plugin (have not looked at what that plugin does)?

[2020-11-29 20:35] #211 closed

[2020-11-29 20:49] Francesco270 commented on #170
YouTubeQuery actually shows the video results, so title + image preview which is quite handy.

[2020-11-30 01:34] taooceros commented on #220
Well... I mean if I want to port the FuzzySearch into the IPublicAPI, I may need the MatchResult class as return value type, which is unreachable in Flow.Launcher.Plugin namespace. The reason why ReloadAllPluginData can be done is due to that its return value type is void, and the implementation for IPublicAPI interface is from the Flow.Launcher namespace, which has the access toward those class a

[2020-11-30 03:58] taooceros commented on #170
https://github.com/taooceros/Microsoft.Plugin.WindowWalker
Port for WindowsWalker

[2020-11-30 11:55] Francesco270 commented on #170
Another plugin I love is Ueli's Shortcut Plugin
https://github.com/oliverschwendener/ueli
![image](https://user-images.githubusercontent.com/57621306/100607343-1da5e400-330b-11eb-8590-eadf357bad93.png)

[2020-11-30 15:01] taooceros opened #229 "Space between Pinyin translation"
Should we add space as the separation of words translated to Pinyin? So that it won't be possible to use `gd` to search something like `DingDing`, which should not be the target.

[2020-12-02 19:45] jjw24 commented on #229
i dont use Pinyin, is it natural to use space when typing pinyin?

[2020-12-02 19:52] jjw24 commented on #224
just updated the wiki changed name from Flow Launcher API to JsonRPC.Python API and added location of the api. Let me know if it's ok.

I think they are all there, we can always add to it

[2020-12-02 20:08] jjw24 commented on #175
closing. Future website related discussion can be made at the website repo

[2020-12-02 20:08] #175 closed

[2020-12-02 23:27] taooceros commented on #229
Well, it depends on personal habit. I don't type space when searching, but the fuzzy allow us to not type space but search, only the score may be lower. I just feel that we shouldn't treat the translation as one word so that some search only containing the ending of one translation and beginning of next translation won't result in a high score.

[2020-12-03 00:55] Zeroto521 commented on #224
Well, I think the JSON RPC does not belong to Python.
So why change to **JsonRPC.Python API**?

[2020-12-03 07:54] bartlibert commented on #170
My favourites:
[Wox.Plugin.Bang](https://github.com/JohnTheGr8/Wox.Plugin.Bang): search with duckduckgo bangs directly
[wox-mpv-plugin](https://github.com/stax76/wox-mpv-plugin): control mpv
[Wox.Plugin.Media](https://github.com/JulianGi/Wox.Plugin.Media): play, pause, etc...
[wox.plugin.volume](https://github.com/rohm1/wox.plugin.volume): control audio volume

[2020-12-04 07:45] #224 closed

[2020-12-04 08:01] Zeroto521 commented on #155
fixed.
see the following links.
[HelloWorldPython](https://github.com/Flow-Launcher/plugin-samples/tree/master/HelloWorldPython) & [Flow.Launcher.JsonRPC.Python](https://github.com/Flow-Launcher/Flow.Launcher.JsonRPC.Python)

[2020-12-04 08:01] #155 closed

[2020-12-04 12:25] jjw24 commented on #229
Oh ok, you mean when Chinese is translated to Pinyin, add spaces to the translated Pinyin? Like translated to 'Ni Hao Ma' instead of 'NiHaoMa'?

[2020-12-04 13:00] taooceros commented on #229
Yes

[2020-12-05 02:37] jjw24 commented on #220
I dont think the core search functionality that is mainly used by all plugins should even live in Flow.Launcher.Infrastructure. There is really nothing infrastructure about this core piece of functionality.

I would say move the whole class over to Flow.Launcher.Plugin. Plugins should be aware of the changes made to this search functionality and should be owned by them not vice versa. The IPublicA

[2020-12-05 04:58] taooceros commented on #220
Agree, I will move that to the shared command folder in Flow.Launcher.Plugin.

[2020-12-05 08:28] taooceros commented on #220
There is an issue of moving the StringMatcher to Flow.Launcher.Plugin…… It reference too much things, and the referenced thing reference other things, which makes the migration become quite large.

For example, due to checking whether user use pinyin, it reference Usersettings class, which also reference the Logger class and Constant and KeyConstant class. That's kind of weird to move all these cl

[2020-12-05 09:56] Francesco270 commented on #170
Yeah I agree, but even a separate Plugin would work just fine.

[2020-12-05 11:22] jjw24 commented on #220
let me give it a shot sometime this week.

[2020-12-05 11:39] jjw24 commented on #220
one of the things that ties it down to the infra is user search precision settings, i have been wanting to get rid of those options and just allow the 'Regular' setting as the default, as stated in issue #16. I dont think the other two are needed. What do you think?

[2020-12-05 12:49] taooceros commented on #220
No worry I just put it as pr so that we can show some change based on it. Current change is almost equal to nothing.

I do agree we can remove that, since not a lot of people use it. However, user still need to choose whether use pinyin, which require the setting.

[2020-12-06 21:30] jjw24 commented on #229
I think it makes sense, string matcher would treat the translation with spaces as substrings instead of one single string right. Yeah sounds good

[2020-12-07 10:49] jjw24 opened #232 "Move functionalities related to installing external plugins to PluginsManager"
Currently the ability to install external plugins is exposed via Flow.Launcher.Plugin.IPublicAPI.InstallPlugin(). This means any external plugins can install another plugin by calling this functionality and pass through the path to the zip file.

I think it will benefit the security of flow if we move this functionality and make it exclusive to only the default plugin that manages the installation

[2020-12-07 14:09] taooceros commented on #232
Sounds reasonable, but I believe currently plugin installed is done in Flow.Core.Plugin.PluginInstaller, which seems not be able to accessed by PluginsManager plugin. That's why the IPublicAPI expose an api for install plugin.

Is it possible to reference back or we will move all the funtionality from PluginInstaller to the new PluginManager plugin?

[2020-12-07 14:19] taooceros opened #233 "Allow Plugins to utilize the CancellationToken from MainThread"
**Discussion**

Should we allow plugins to utilize the CancellationToken from Flow so that they can cancel their works properly when the query is updated.
This can be done by adding another method to IPlugin like QueryAsync with an default implementation pointing back to the Original Query method since c# 8 has added that feature so that we can expand the interface without potential compatibility

[2020-12-08 02:15] jjw24 commented on #232
i am planning to move the whole functionality to PluginsManager

[2020-12-08 05:15] taooceros commented on #232
Sounds great.

[2020-12-08 12:51] taooceros opened #236 "Allow plugins to add actionkeyword with IPublicAPI"
Currently plugins are not allowed to see what their action keywords are. The two built in plugin is utilizing Flow.Launcher.Core.PluginManager to customize their action keywords list. I think this should be exposed to the IPublicAPI for plugins who wants to have more than one customized action keywords.

#230

[2020-12-09 01:30] Warden20 opened #237 "Create a md note with flow launcher"
I handle a lot of md notes and it is a problem to be going to the specific application and creating it.
I would like to know if you could implement something similar to this https://github.com/mrjackphil/qnote-ahk
It is a solution but if it were integrated into flow launcher like a puglin or a feature it would be the best solution
For example, if I open Flow Launcher and with the word note, what f

[2020-12-09 02:13] Zeroto521 commented on #237
If you write a note in another place (not in the flow), then copy the note to flow.
That would be is fine.

If you key in the flow one word by one word, that would be impossible.
The flow will record as "This sentence." as 14 files as follows.

1. `T`
2. `Th`
3. ...
13. `This sentence`
14. `This sentence.`

So you know the answer.

[2020-12-09 02:48] taooceros commented on #237
I think it is possible to register another hotkey to save the file instead of saving it every time querying. For example, WoxDictionary do register `alt+enter` for copy query. Or maybe it is possible to create a window with a plugin action keyword similar to the one in quote.
However, I don't think Flow has the access to the current working directory, so maybe only one customized location is allow

[2020-12-10 02:41] jjw24 commented on #237
I wonder if something like query `note:` hit enter and you can get a pop up screen like in the example and the screen will do exactly that is showing, create file and append the text in.

or alternatively, set the text file in the plugin and `query note: file: blah.md text: some text`. So Flow will know to pass to the plugin on `note:` then the plugin will look for `file:` and find blah.md in sett

[2020-12-10 19:42] #232 closed

[2020-12-14 10:25] #229 closed

[2020-12-15 09:49] jjw24 opened #240 "Extract Colors plugin?"
**Question**
Extract Colors plugin?

The extracted plugin will be made available as a download via the PluginsManager like all user made plugins.

**Discussion**
Just want to gauge interest in removing the Colors plugin. Do people use it?

If you are using it and would like to keep, give this a thumbs down please.

If you agree to extract it, give this a thumbs up please.

[2020-12-15 22:35] deefrawley commented on #240
T o be clear do you mean remove it as an internal plugin bundled with Flow and move to an optional user plugin?

[2020-12-16 09:08] jjw24 opened #241 "Allow plugin to be added/removed without requiring a restart"
Allow plugin to be installed/uninstalled without needing to reload all via restarting the entire flow app.

![image](https://user-images.githubusercontent.com/26427004/102327640-21f42180-3fda-11eb-9dcc-8b5eeba5be38.png)

[DotNetCorePlugins](https://github.com/natemcmaster/DotNetCorePlugins), outstanding [issue](https://github.com/natemcmaster/DotNetCorePlugins/issues/141) preventing usage

[2020-12-16 09:10] jjw24 commented on #240
yep, exactly. Will not be bundled with flow but still available to be installed via PluginsManager

[2020-12-17 11:00] Zeroto521 commented on #19
this feature seems that need a **logger** to record user's querying keywords.

And do a simple statistic analysis.

[2020-12-18 14:22] Zeroto521 opened #244 "Feature: Support the js and add NodePlugin.cs"
## Related issues

- https://github.com/Flow-Launcher/plugin-samples/pull/1
- https://github.com/Flow-Launcher/plugin-samples/pull/2

## Enhancement content

Actually, the js developers are the most people in developers.

So, it's better to pull them to stand our side.

The Flow needs to support the `js` and add `NodePlugin.cs`

[2020-12-27 09:05] taooceros opened #248 "Fody block building"
I have encountered an issue that I cannot build Flow due to Fody's issue. That can be solved by updating PropertyChangeFody to the latest version. Should we do that?
![image](https://user-images.githubusercontent.com/45326534/103167368-8f6b4200-4865-11eb-8cfa-39e388139984.png)

[2020-12-27 09:14] jjw24 commented on #248
how are you build flow? is it via VS 2019?

we kept fody version at it is now due runtime problems encountered after updating the version. for references:
https://github.com/Flow-Launcher/Flow.Launcher/pull/35
https://github.com/Flow-Launcher/Flow.Launcher/pull/52

[2020-12-27 10:33] cyber2e commented on #135
Really bad that everything is not in the default installation file. It is the top 1 feature I expect from this launcher.

[2020-12-27 14:18] taooceros commented on #248
I use Rider to build it, since I am on another computer at that time.
That's strange, since Rider build it well with version 3+.
Is it possible for us to remove Fody in our project as the PR said?

[2020-12-28 01:51] jjw24 commented on #248
Yeah of course if it improves flow. I did try removing it and the query result list stop registering/showing up. So I think it'likely we need replace fody instead

[2020-12-29 02:01] taooceros commented on #248
Seems that Fody plays a quite important job in Flow, by adding property change to every property for binding that extends the BaseModel, which is almost every model in the Flow. Removing it means that we need to manually add the property changes event raise for every property extends the class, which is huge......

[2020-12-30 02:54] taooceros opened #252 "Replace Newtonsoft.Json with System.Text.Json"
Since we are on .net core, why not try the new System.Text.Json? No need to reference to Json.Net anymore. It should be faster and more light-weighted.

[2020-12-31 05:34] #168 closed

[2020-12-31 05:38] #240 closed

[2020-12-31 09:00] jjw24 commented on #170
Now that Window Walker is available for Flow, do you still need Switcheroo?

[2020-12-31 09:20] pc223 commented on #170
I'm running the new plugin right now, it works, no bugs or anything, just that Im still have to getting by with my current setup for now, because of a bit of customized code for Switcheroo plugin and not yet port to the new Walker plugin (maybe in the lunar new year holiday :smile:).

Ultimately, it depends on you guys, to do what good for Flow 😄 personally, I believe windows switching is a really

[2020-12-31 09:24] jjw24 commented on #170
Ok cool. Yeah feel free to put in an issue to window walker plugin if you want those features from switcheroo that are not there. Or if u code c# just chuck a pr in

[2020-12-31 10:51] Olddddd opened #255 "Cannot find some control panel functions"
**Describe the bug/issue**
Already discussed in the Discord but we cannot find actions like "Create a restore point" or "Focus assist" from the control panel in the search bar.

**Your System**
[code]

[2020-12-31 23:08] deefrawley opened #256 "'pm install' does not install packages"
**Describe the bug/issue**
The new package manager doesn't install packages. I can choose the package, I get the mesasage box with the details, and then the two toaster popups saying the package has been downloaded but Flow doesn't restart and the packages are not available or located in the %APPDATA%/Roaming/FlowLauncher directory. The log files logs nothing about the attempt.

Note I have comple

[2021-01-01 01:11] taooceros commented on #256
@jjw24
![image](https://user-images.githubusercontent.com/45326534/103431818-46264400-4c11-11eb-976a-f46f8433a985.png)
Seems the translation in catch is false.

[2021-01-01 01:14] taooceros commented on #256
That may because you access the downloaded manifest before it has downloaded successfully. Will add a default List for access, since plugins are initialized async.

[2021-01-01 01:23] taooceros commented on #256
Haven't been able to reproduce the error...... Is it possible for me to provide you with an edited version of plugin manager with more error handling so that you can log the error so we can look up?

[2021-01-01 01:27] taooceros commented on #256
[Flow.Launcher.Plugin.PluginsManager.zip](https://github.com/Flow-Launcher/Flow.Launcher/files/5758536/Flow.Launcher.Plugin.PluginsManager.zip)

Take a try on replacing the Flow.Launcher.Plugin.PluginsManager.dll with this one and check whether Logger can record the error?

[2021-01-01 02:16] deefrawley commented on #256
Replaced the file and Flow won't even launch now, no log created at all.
I'm CitizenDee on the Discord server if you wanted to do some other trials/debugging with me over there in DMs

[2021-01-01 03:10] taooceros commented on #256
ok, thank you!

[2021-01-01 03:19] taooceros commented on #256
[Release.zip](https://github.com/Flow-Launcher/Flow.Launcher/files/5758603/Release.zip)

[2021-01-01 03:27] pc223 commented on #255
I found a potential solution for this issue :smile:

Turns out the actions like "Create a restore point" are called task links, and default control panel task links are hiding in `shell32.dll`. The task links XML data can be extract using this `win32api.LoadResource(shell32_handle, "XML", 21)`  (I don't know why it's 21, but 21 works 😂 )

This script will print out all these task links. (Windows 1

[2021-01-01 04:48] deefrawley commented on #256
Using @taooceros debug DLL I got the following:
[code]
I have ICSharpCode.SharpZipLib.dll in \AppData\Local\FlowLauncher\app-1.6.0\ so I copied this to \AppData\Local\FlowLauncher\app-1.6.0\Plugins\Flow.Launcher.Plugin.PluginsManager, restarted Flow, and the plugin manager worked and I could install plugins with the pm command.

[2021-01-01 05:47] jjw24 commented on #256
<Could not load file or assembly 'ICSharpCode.SharpZipLib, Version=1.2.0.246, Culture=neutral, PublicKeyToken=1b03e6acf1164f73' this may be the culprit

so looks like error is when Unzipping the downloaded plugin

[2021-01-01 05:49] jjw24 commented on #256
how did this happen lol

[2021-01-01 06:11] jjw24 commented on #256
Thanks @deefrawley for the info, i am able to replicate the error. @taooceros it works for us because we have the dll in .nuget\packages folder in our profile folder where VS keeps all the references. So if the program is unable to find the dll in the folder,  then it will go to the default path which is in the .nuget folder.

[2021-01-01 06:12] jjw24 commented on #256
i have a suspicion this is caused by the post build script deleting duplicate dlls. I have put the 1.6.0 release as prerelease which will stop people from updating.

[2021-01-01 06:13] jjw24 commented on #256
@taooceros i dont understand though, why the error is not logged even if it outputs the wrong msg

[2021-01-01 07:27] taooceros commented on #256
It can caused by that Task stop error from throwing, since all Plugins query job is wrapped in a Task. But I am not totally sure

[2021-01-01 07:30] jjw24 commented on #256
nah it's because the install method is not in the try catch, the method contains the unzip call, which errors out, the throw must be swallowed up further up the chain

[2021-01-01 07:43] taooceros commented on #256
That's possible, the one I provided to @deefrawley add the try catch so that the error is logged. I believe the simply throw out error won't be logged.

[2021-01-01 07:43] jjw24 commented on #256
Just published a rebuild of the 1.6.0 release, should fix the issue where nothing happens when you download plugin.

Will put through a fix for the error message and packaging of sharpzip dependency

[2021-01-01 07:52] deefrawley commented on #256
Thanks Jeremy, appreciate the quick response from yourself and taooceros.

[2021-01-01 14:04] taooceros opened #258 "Some plugin translations are missing"
![image](https://user-images.githubusercontent.com/45326534/103440024-33e1ef80-4c7d-11eb-9676-654e47a9cd11.png)

[2021-01-01 14:05] taooceros commented on #258
I am not able to reproduce that......has anyone encountered the same issue?
@Flow-Launcher/team

[2021-01-01 17:58] kubalav commented on #258
Slovak language for Flow Launcher is OK, but plugins stay in English.
![flow-launcher_plugins_translation_issue](https://user-images.githubusercontent.com/37414585/103443879-5830d280-4c63-11eb-940c-87a99faf45e1.gif)

[2021-01-01 19:13] JohnTheGr8 commented on #258
also notice this:
![image](https://user-images.githubusercontent.com/697917/103444903-1d846580-4c76-11eb-9bde-7161b6000566.png)

[2021-01-01 22:10] JohnTheGr8 commented on #258
Updated the title as this is not specific to Slovak, other languages are missing as well. PR with the fix is in.

[2021-01-01 22:40] JohnTheGr8 commented on #248
worth mentioning that Fody also breaks running `dotnet publish` on the solution, which prevents us from fully building the project on appveyor

[2021-01-02 01:28] #258 closed

[2021-01-02 03:30] #256 closed

[2021-01-02 04:06] jjw24 opened #262 "Explorer plugin saves file path in 'Quick Folder Access Paths' for quick access"
Similar to folder quick access, Explorer to save file paths so users can launch files quickly as well like folders.

Change the name 'Quick Folder Access Paths' to 'Quick Access'

[2021-01-02 04:27] taooceros commented on #248
Check around google and github, if we want to remove Fody, there are only a few choices.
1. Use PostSharp, which is not open-source, but free for community edition. It should do similar jobs as Fody by injecting code for IL after build.
2. Most of the repository to help people implementing inotifypropertychange easier is simply use a backward SetProperty Method with an abstract class. It is possib

[2021-01-02 07:52] deefrawley opened #264 "pm install not to show plugins already installed"
**Is your feature request related to a problem? Please describe.**

The plugin manager command `pm install` shows all plugins whether they are installed or not. If you try and install again, a toaster popup tells you it is already there. It would be good for users to see the status without trying the install again.

**Describe the solution you'd like**

The install command only lists available plu

[2021-01-02 08:28] taooceros commented on #264
@jjw24 make it as InstallOrUpdate so that it is not quite simply install. The "install" keyword is added later after he has finished the main part. I agree with you that we should put installed plugin out of the install results list. Since it will be quite easy to see them with uninstall or update.
@jjw24 what do you think?

[2021-01-02 08:31] jjw24 commented on #264
Maybe we can do something like, for installed plugins, if there is new version, show, else exclude

[2021-01-02 08:32] taooceros commented on #264
Maybe with a special sign that it has a new release in SubTitle or Title?

[2021-01-02 08:32] jjw24 commented on #264
I quite like the icon in the query box to indicate installed as well, but we haven't got anything wired up at the moment for it, there is a similar issue in the pipeline to do something similar, once that's done we can do something like this as well

[2021-01-02 08:36] jjw24 commented on #264
Yeah this will require reconstruct the result though than simply exclude, but either way is fine

[2021-01-02 11:17] jjw24 opened #265 "PluginsManager does not clean up user settings after plugin removal"
**Describe the bug/issue**
PluginsManager does not clean up user settings after plugin removal. Setting which contains custom hotkey is still retained after a plugin is removed.

**To Reproduce**
Steps to reproduce the behavior:
1. Install any plugin
2. Change the installed plugin hotkey
3. Uninstall the plugin
4. Reinstall and should see the default hotkey for the plugin, but the previously chang

[2021-01-02 13:09] giggio opened #266 "Feature: index windows settings"
**Describe the solution you'd like**

There should be a way to index Windows settings. For example, if I click on the Windows button and type `vpn`, Windows shows me vpn settings:

![vpn search windows](https://user-images.githubusercontent.com/334958/80309801-93faca80-87ad-11ea-9b4f-f1c94e5affed.png)

This does not work with Flow Launcher.

This is similar from https://github.com/Wox-launcher/Wox

[2021-01-02 14:35] pc223 commented on #255
Another approach from Wox:

https://github.com/Wox-launcher/Wox/issues/2875

[2021-01-02 18:00] katchy3132 commented on #170
I use the Putty plugin constantly !

https://github.com/kosz78/wox.plugin.putty
http://www.wox.one/plugin/13

[2021-01-03 02:41] JohnTheGr8 commented on #248
Hmmm... after some testing, it looks like the newest version of `PropertyChanged.Fody` resolves the runtime issues we saw in the past (#52). Updating also fixes the issues with `dotnet publish`, so I am looking into getting the self-contained build/release working with CI.

Leave this to me for now, I'll get back with a PR or more details...

[2021-01-03 12:22] taooceros opened #268 "pm update doesn't work"
pm update doesn't work

Check the code, seems that it may because Uninstall(pluginmetadata) won't actually uninstall it until next startup, so that the install method cannot do the jobs, but instead the plugin will be uninstalled.

[2021-01-03 12:23] taooceros commented on #268
We should change the way of uninstalling plugin or use the way similar to uninstalling to update.

[2021-01-03 12:31] jjw24 commented on #268
The way it's done with update, is download plugin and appending the folder name with version, then marking the old one for deletion. So when restarted, old is deleted new is loaded.

Is this not the behaviour?

[2021-01-03 12:35] taooceros commented on #268
Sorry that works, I have encounted an update fail before so I want to test it, but I forgot to change the folder name but only changes the version number in plugin.json. This leads to the issue. It works, but similar to install method, error handling should be added due to the use of Task.Run.

[2021-01-03 12:36] #268 closed

[2021-01-04 19:28] jjw24 commented on #266
@giggio does `> ms-settings:network-vpn` work with Wox's latest pre-release version?

[2021-01-04 21:35] jjw24 opened #273 "Better magnifying glass icon on query window"
Can do with a better magnifying glass icon, current one is too fuzzy/not a hd image

current:
![image](https://user-images.githubusercontent.com/26427004/103581852-e9889900-4f30-11eb-8b40-801714d041ab.png)

[2021-01-04 21:39] giggio commented on #266
@jjw24 I just tried, and yes, it now works if I use `RunCommand` in the Shell plugin (which is what I normally use). It does not work with CMD or PowerShell.
But it is still not indexable. If I do <kbd>Alt</kbd>+<kbd>Space</kbd> and write `VPN`, it does not find the command, but other vpn programs and files. And If I do <kbd>Alt</kbd>+<kbd>Space</kbd> and write `> VPN` it then finds it.
So, indexi

[2021-01-04 23:32] giggio opened #274 "Enable plugin priority"
**Describe the solution you'd like**

I'd like plugins to have a settable priority. When there is more than one plugin offering results for an action keyword, the results should be sorted according to that priority.

**Describe alternatives you've considered**

I can't find any.

**Additional context**

I'd like to have the Window Walker plugin to show results before files, links, directories etc.

[2021-01-05 01:47] taooceros commented on #274
I like this idea, and I want to have it before but almost forget. I will take a try on it later.
Thank you for suggestion!

[2021-01-05 02:15] jjw24 commented on #274
so to clarify, this request is where:
- results ordering is based on the priority you set for each of the plugin?
- will frequently used result be higher despite the priority you set?
- this ordering is for ordering each plugin's results not the results given from a plugin right?

[2021-01-05 03:22] giggio commented on #274
I believe frequently used options should also have a priority number. And results show in priority order we set on config.
And yes, ordering is per plug-in.
So, for example, I'd set:
1 for Window Walker
2 for frequently used
3 for everything
Etc

If I type "Edge" and I have 2 Edge windows open, they show up first, then if I've used a document named Edge that I've chosen before it would show up, th

[2021-01-05 04:12] taooceros commented on #274
Hmmm, what do you mean by frequently used result? We haven't implemented it I think #19 ..... If you mean the scoring bump, I believe there are two way to do each.

1. Simply give each plugin priority with a score bump.
2. use orderby for the priority list and thenby for the scoring.

[2021-01-05 08:16] taooceros commented on #274
@giggio you can take a try on the pr.
https://ci.appveyor.com/api/buildjobs/qxy09wxucjejhv9e/artifacts/Output%2FPackages%2FFlow-Launcher-v1.6.0.zip

This version may require dotnet core 3.1 to run.

[2021-01-05 14:49] sercankd opened #277 "Hotkey settings semi-working"
**Describe the bug/issue**
Hotkeys are not working as intended, this is an issue even in Wox Launcher

**To Reproduce**
In the settings i set my hotkeys to ALT+R, it works fine but also it works by pressing Winkey+R which is something i dont want to.

**Screenshots**
![image](https://user-images.githubusercontent.com/1024476/103659909-08614c80-4f7e-11eb-8ba2-3df7cfa4583c.png)

**Your System**
[cod

[2021-01-05 21:19] jjw24 commented on #277
Would it be you have the setting in She'll plugin set to open with Win + R ticked?

[2021-01-05 22:54] deefrawley commented on #264
As you are looking at the plugin display result functionality, would it be beneficial to indicate what language the plugin is written in and if Python and Python path isn't set in Flow, show a warning (something that could be extended to other languages down the line)?

[2021-01-06 01:08] taooceros commented on #273
Have you opened the window shadow effect? I think the fuzzy is led by that for this case.
Currently I believe we only load thumbnail of both images and file. We should load the image inside our image folder as image.

[2021-01-06 03:21] taooceros commented on #255
hmmmm I have taken a try on it. It would be successfully for us to retrieve the description of setting based on the file, but when trying to access the highhotkeyword, a accessviolationexception will be thrown.
![image](https://user-images.githubusercontent.com/45326534/103725308-241f1f80-4f8b-11eb-8e13-2eb1cf76c960.png)

[2021-01-06 04:27] pc223 commented on #255
So we can't access this? Maybe it needs Admin privilege? 🤔

[code]

[2021-01-06 06:39] taooceros commented on #255
I have tried admin privilege. it doesn't work

[2021-01-06 06:47] taooceros commented on #188
Why not simply remove the .bat file from indexing if you don't want them? It is quite easy to do that.

[2021-01-06 06:57] taooceros commented on #255
The P/Invoke information I found for resolving this (method from @bao-qian )
http://www.pinvoke.net/default.aspx/shlwapi.shloadindirectstring

[code]

[2021-01-06 09:28] #273 closed

[2021-01-06 10:48] pc223 commented on #255
Nice! :smile: Yeah, @bao-qian did mentioned it in the issue 😂

Can you able to extract keywords of task links as well? With the bao-quan's approach I mean. I updated the Python script, now it can get the keywords for the task links 😋

[code]

[2021-01-06 11:29] sercankd commented on #277
Yes, that seems the issue, i didn't see it there. Thank you very much.

[2021-01-06 11:29] #277 closed

[2021-01-06 11:33] pc223 commented on #266
Probaly related:
- https://github.com/Flow-Launcher/Flow.Launcher/issues/255
- https://github.com/Wox-launcher/Wox/issues/2875

[2021-01-06 22:22] maholli commented on #237
+1 for this

[2021-01-07 02:31] #248 closed

[2021-01-07 02:42] jjw24 commented on #274
here is the one without needing to download dotnet core 3.1 to run https://ci.appveyor.com/api/buildjobs/jliy0igl2v3s6wgj/artifacts/Output%2FPackages%2FFlow-Launcher-v1.6.0.exe

@giggio Let us know if this is good, the feature is pretty much ready to go

[2021-01-07 09:32] #252 closed

[2021-01-07 13:57] taooceros opened #282 "Exception when using the context menu for uninstall plugin"
[code]

[2021-01-07 14:23] giggio commented on #274
@jjw24 I'm getting an error when it launches:

[code]

[2021-01-09 04:52] taooceros opened #285 "Trim in publishing"
**Question**
Why don't we trim in publishing profile? In dotnet 5 environment, although it takes time to do the job, it can reduce the output size from 92MB to about 58MB

@JohnTheGr8 @jjw24

[2021-01-09 06:13] jjw24 commented on #285
That would be good to trim down the size, I just haven't had time to look into it

[2021-01-09 07:14] jjw24 commented on #274
fixed:
https://ci.appveyor.com/api/buildjobs/5lwjsshsxhc7dy9u/artifacts/Output%2FPackages%2FFlow-Launcher-v1.7.0.exe

[2021-01-09 07:15] jjw24 commented on #274
@giggio
fixed, please give it a spin:
https://ci.appveyor.com/api/buildjobs/5lwjsshsxhc7dy9u/artifacts/Output%2FPackages%2FFlow-Launcher-v1.7.0.exe

[2021-01-09 07:40] jjw24 opened #286 "Download dependent apps/services/tools automatically"
Enable flow to download apps/services/tools automatically upon request. This is for Everything plugin, Python plugins and any future language interpreters that need to be downloaded.

[2021-01-09 07:49] jjw24 commented on #188
@highend I think the bat files are from Explorer plugin? can you shift + enter on the bat file and see if it is Explorer plugin. By default i dont think Program plugin looks for bat files

[2021-01-09 08:05] highend commented on #188
The .bat files are my own. They need to stay where they are. I just would like to be able to reduce clutter by defining a max. search depth and an in- / exclusion filter of file types...

[2021-01-09 08:08] taooceros commented on #188
Well, I mean you can choose the suffix that will be included to Program plugin. Simply remove the .bat from the setting and reindex will allow you to stop seeing them from querying.

------------------&nbsp;原始邮件&nbsp;------------------

The .bat files are my own. They need to stay where they are. I just would like to be able to reduce clutter by defining a max. search depth and an in- / exclusion

[2021-01-09 08:09] taooceros commented on #188
![image](https://user-images.githubusercontent.com/45326534/104086707-13c1ba00-5295-11eb-904a-8c23279a4762.png)
Here

[2021-01-09 10:49] taooceros opened #287 "Update won't work for plugin with dependency"
Dictionary plugin require extra ecdict.db, which may be removed when updating.

[2021-01-09 19:05] JohnTheGr8 commented on #285
Trimming is still experimental afaik.

Also, curiously, self-contained `net5.0-windows` output is actually larger than the `netcoreapp3.1` equivalent: 84mb vs 78mb for the executable...

[2021-01-10 01:27] taooceros commented on #285
Maybe that is because of the large WinRT runtime. Around 26mb.

[2021-01-10 02:13] jjw24 commented on #287
this shouldnt happen, might have been the way i packed it. lets bring this over to dictionary repo

[2021-01-10 02:13] #287 closed

[2021-01-11 14:53] giggio commented on #274
@jjw24 This version runs!

But I'm not seeing the priorities working. I set the `Program` plugin to priority `1`, `Window Walker` as 2, and the rest as `0`. I'm using `Everything` for my files, and `Explorer` is disabled.

This is what happens when I search for `Sublime`, the Window Walker match is the second:

![image](https://user-images.githubusercontent.com/334958/104196585-cea6a080-53d8-11eb-

[2021-01-11 14:58] taooceros commented on #274
Well, I think you can set the priority of window walker more higher (for example 3 or 4), because the scoring of the fuzzy search of window walker seems much lower than the other plugin. For detail, I only set one priority to increase 50 in scoring. As a result, please make it higher for now. I think this should be changed higher actually.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2021-01-11 15:04] giggio commented on #274
Yes, changing Window Walker to priority 4 worked, all 3 cases are working fine now!
If it is kept this way I suggest you add that note to the docs, other people will surely encounter a similar issue. Or maybe some help text on the settings screen.

[2021-01-11 15:09] taooceros commented on #274
Yeah, will do. Thank you! I just wondering whether someone may want a more specific control of scoring bump (like 50 in window walker may be higher than 70 in program, but lower than 90), or simply make once result higher than other will be good enough.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2021-01-11 15:13] giggio commented on #274
I don't understand how the scoring works in Flow, so I can't help you on that.

[2021-01-11 15:16] taooceros commented on #274
Anyway, thank you so much for testing!😀
This should be released in 1.7.0!

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "Flow-Launcher/Flow.Launcher"                                                                                    <notifications@github.com&gt;;
发送时间

[2021-01-11 20:41] #274 closed

[2021-01-12 09:06] taooceros commented on #285
hmmm seems that trimming break Flow to work as intended. Need more testing.

[2021-01-14 14:44] taooceros opened #292 "[Explorer Plugin] Allow Folder search with an extra actionkeyword"
Folder search with a special action keyword.
Sometimes we want to open a specific folder, but the result doesn't show it because too much other item that fulfill the requirement has been found.

[2021-01-15 07:44] taooceros commented on #128
How's going now?

[2021-01-15 13:00] Zeroto521 opened #294 "Is it possible to develope as a UWP app?"
For Flow, it has any possible to develope as a [UWP](https://docs.microsoft.com/en-us/windows/uwp/get-started/universal-application-platform-guide) app.

[2021-01-15 15:16] giggio commented on #128
I just checked and noticed that the peak CPU usage on start is not happening anymore.
Memory is fine, around 135MB, which is acceptable.
Flow still stays at 0.6% of CPU even when not doing anything, which is weird. Souldn't it be idle until we request it?

[2021-01-15 18:05] taooceros commented on #128
Wox has provided a fix toward the slight CPU usage due to progress bar animation. Not sure if that's the reason, but I will try porting it.

[2021-01-15 18:19] taooceros commented on #166
I have taken a try, but seems making the visibility collapsed will stop the rendering, which means even we mark the action when hiding, the rendering process will still need to wait until it shows up……🤔

[2021-01-15 18:40] taooceros commented on #128
@giggio https://ci.appveyor.com/api/buildjobs/31faqy2whi9ua5yj/artifacts/Output%2FPackages%2FFlow-Launcher-v1.7.0.exe
Take a try.

[2021-01-15 18:42] taooceros commented on #294
Seems that UWP doesn't allow loading assembly on runtime, which means the current plugin system won't work.

[2021-01-15 20:16] giggio commented on #128
Just installed it. It made no difference.
I was already on 1.7.0, because I tested the plugin priority feature. Are we sure it installed the new version?

[2021-01-15 22:17] taooceros commented on #128
hmmm I create this branch based on dev, so if it contains the priority setting, it is the new version. That may indicate that the 1% cpu may not caused by the progressbar animation....

[2021-01-16 08:28] taooceros commented on #128
Would you please tell me how should I observe that it contains 1% or 0.6% cpu usage? I think Task Manager and the visual studio profiling will automatically drop that to 0.......😂

![image](https://user-images.githubusercontent.com/45326534/104807178-b98f9000-5791-11eb-85d0-926bbad9aa32.png)

[2021-01-17 05:29] jjw24 commented on #294
@Zeroto521 what are your thoughts on developing flow as an UWP app though?

[2021-01-17 09:45] Zeroto521 commented on #294
Not much, I don't know about UPW technology details, but I want to say some from some general user view.

- for download & update part. I could manage all software from one place. We don't need to care about how to download or install it. And even global users can direct it with the max downloading speed.
- for the UI part. Actually, I hate that. It's hard both for developers to design and general

[2021-01-17 14:03] taooceros commented on #266
Seems that PT-Run is drafting this feature. Will take a look on that later.
https://github.com/microsoft/PowerToys/pull/9137

[2021-01-17 21:57] jjw24 commented on #294
Yeah ok, fair enough.

I personally don't have experience in building uwp apps or looked into what's involved in publishing it, but I am definitely open to upgrading to uwp provided thats something that will provide benefits. Same goes for UI as well, happy for another refresh as always.

Will close this question for now and happy to reopen for discussion for later if needed.

[2021-01-17 21:58] #294 closed

[2021-01-18 15:33] giggio commented on #128
Sysinternals Process Explorer shows ~1%. Task manager shows `00`.

[2021-01-18 19:49] jjw24 commented on #233
@taooceros is there anymore to do on this one?

[2021-01-18 21:28] jjw24 opened #299 "Use cancellation with Explorer's DirectorySearch"
The all files and folders search with Explorer's DirectorySearch seems to run quite long, can we add the use of cancellation token to stop when next query comes in.

[2021-01-19 01:39] taooceros commented on #299
![image](https://user-images.githubusercontent.com/45326534/104977291-2331c780-5a3a-11eb-91dc-b1a81c318c57.png)
Do you mean this one?

[2021-01-19 02:18] jjw24 commented on #299
yep that's the one :)

[2021-01-19 08:00] lemonnuggets opened #302 "[Ask a question or propose a change] Problems with themes"
**Question**
So I have built a theme on the [theme builder site](http://www.wox.one/theme/builder), downloaded it, and added it to the themes folder, but when I try to use that theme this pop up shows up.

![image](https://user-images.githubusercontent.com/63046776/105004642-42405180-5a5a-11eb-8d81-cd662dd184f7.png)

I wasn't sure if I was doing something wrong or if this is a bug, so I decided to

[2021-01-19 10:40] taooceros commented on #302
I believe currently the theme builder site is from wox, which is not 100% compatible with Flow. It is a limitation. Thank you!

[2021-01-19 11:13] jjw24 commented on #302
Yeah , wox theme builder is no longer compatible unfortunately. What does it look like, maybe we can update it and add it into Flow?

Always can do with more themes :)

[2021-01-19 11:30] Zeroto521 commented on #302
Well, we can build a web on the GitHub page to handle this.

So, I need to know the right file format.

[2021-01-19 11:36] jjw24 commented on #302
It uses call, you can use the built in themes as example:
https://www.github.com/Flow-Launcher/Flow.Launcher/tree/dev/Flow.Launcher%2FThemes%2FDarker.xaml

[2021-01-19 13:10] taooceros commented on #302
I do think we shall update some built in theme of Flow. Most of them don't perform well except Darker or blackandwhite.

[2021-01-19 17:49] skjerns opened #303 "Re-index programs automatically/periodically"
I often leave my computer running for days without restarting Flow.Launcher. In the meantime I install new programs, however, each time I'm forced to manually reindex the programs content.

Would it not be possible to automatically do this in certain intervals?

Also I feel like not all programs show up there all the time, i.e. not all paths where programs are found are added to the index automati

[2021-01-19 18:50] lemonnuggets commented on #302
![image](https://user-images.githubusercontent.com/63046776/105074591-91b06d00-5aae-11eb-9a0f-da41991e3bed.png)
![image](https://user-images.githubusercontent.com/63046776/105074598-937a3080-5aae-11eb-8e87-ae308328ce78.png)

These were the themes I was trying to add. "Nord" and "Nord Darker" based on the Nord color palette is what I was going for to see which would suit my setup.

[2021-01-19 18:58] lemonnuggets commented on #302
So I haven't used XAML before but I thought I'd play around with the theme files, by copying stuff from the pre-existing themes and dumping stuff together. For some reason when I wrote this XAML file and tried to select it, Flow Launcher settings stopped responding, and also when I'd try to open the launcher it'd just automatically close itself.

    <ResourceDictionary  xmlns="http://schemas.micr

[2021-01-19 19:41] #174 closed

[2021-01-20 00:00] taooceros commented on #302
I don't think flow shall crash when an invalid theme is used. It should use the default theme instead.
I will take a try on your theme. Thank you for telling us about this!

[2021-01-20 00:02] taooceros commented on #303
It is designed to reindex every 3 days, although this will only be triggered when restarting flow. I think we should add it to query method as well.

Thank you for suggestion.

[2021-01-20 00:04] taooceros commented on #303
Are those programs lies within start menu or the default program file folder? If not, you may need to manually add the folder to index it.

[2021-01-20 00:06] taooceros commented on #233
That's done!

[2021-01-20 00:06] #233 closed

[2021-01-20 00:07] taooceros commented on #128
Will take a look with that later. Thank you!

[2021-01-20 02:16] jjw24 commented on #233
Legend!

[2021-01-20 02:19] jjw24 commented on #302
This theme looks good, reminds me of the OnePlus nord phone haha, once fixed let's add it in @lemonnuggets ?

[2021-01-20 02:29] jjw24 commented on #303
That's a good idea actually, kick off the index in the background if certain conditions are met.

[2021-01-20 06:53] lemonnuggets commented on #302
Okay great! So I was able to kinda make the theme I wanted by copying the default Grey theme and changing the values. I also created a PR in case you would like to add or modify these themes (#304).
Now I was wondering if there's any way to change the Search Icon that's always there.

[2021-01-20 09:09] kubalav opened #305 "Untranslatable stings"
I found untranslatable strings. Can you make them translatable? I use red underscore for marking.

[Link to Imgur](https://imgur.com/a/6WRQRUa)

[2021-01-20 21:25] jjw24 commented on #302
search icon image is a svg file located in the flow folder: FlowLauncher\app-1.6.0\Images\mainsearch.svg you should be able to replace it with another svg file.

Do you have a better icon, maybe show us how it looks as well in a seperate issue :)

[2021-01-20 21:26] jjw24 opened #306 "New theme builder"
a new theme builder to allow users to customise themes in Flow

[2021-01-20 21:28] jjw24 commented on #302
i will seperate theme builder into a issue so we can close this one @Zeroto521  https://github.com/Flow-Launcher/Flow.Launcher/issues/306

[2021-01-20 21:28] #302 closed

[2021-01-21 08:17] skjerns opened #307 "Combine/remove duplicate entries"
It happens quite often that Flow shows me duplicate applications. Would it be possible to check whether something is already in the index and keep the program index cleaner? This could also be done e.g. by checking the link target instead of the link location (including args of course).

Related: #303

![image](https://user-images.githubusercontent.com/14980558/105322374-168fa980-5bc9-11eb-8d9d-b7

[2021-01-21 08:18] taooceros commented on #307
This is on progress. Check out #78.

[2021-01-21 11:15] skjerns commented on #307
great! thanks!

[2021-01-21 11:16] taooceros commented on #307
No need to close, will close when that pr has merged. Thank you for pointing out the need!

[2021-01-21 11:22] taooceros opened #308 "Unable to recognize first level directory with search wildcard ">" or "*""
When I search with "D:\>flow", the generated query is `SELECT TOP 100 "System.FileName", "System.ItemUrl", "System.ItemType", "System.ItemPathDisplay" FROM "SystemIndex" WHERE (Scope = 'file:D:/' OR CONTAINS(System.FileName,'"D:\"',2052)) AND System.FileName > 'flow' AND scope='file:'`, which doesn't give me the correct result I want.

I don't understand why we use `System.FileName > flow` as cond

[2021-01-23 03:54] #199 closed

[2021-01-23 04:44] taooceros commented on #299
A question toward searching within directory.
Since we don't set a limit here, shall we also remove the 100 item limit when using index search for file inside directory?

[2021-01-24 08:50] #303 closed

[2021-01-24 10:21] #308 closed

[2021-01-25 08:24] #299 closed

[2021-01-25 08:32] jjw24 opened #313 "Plugins Manager check connection message pops up despite manifest loaded"
@taooceros getting this message occasionally despite plugins manager's manifest is loaded, any idea why?

https://github.com/Flow-Launcher/Flow.Launcher/blob/5dd12d212b57d2c752c09e8539752d1138be326b/Plugins/Flow.Launcher.Plugin.PluginsManager/Main.cs#L41-L52

[2021-01-25 08:33] jjw24 commented on #313
i wonder maybe if the task status is something other than t.IsCompletedSuccessfully

[2021-01-25 09:06] taooceros commented on #313
Yeah, I agree with you. I believe this can be solved by using Task.IsFault to invert the condition check. Let me investigate more about completesuccessfully.

[2021-01-25 09:12] taooceros commented on #313
hmmm from my testing, I didn't see the message pop out when the manifest is loaded successfully.

[2021-01-26 04:34] #305 closed

[2021-01-26 19:38] #236 closed

[2021-01-27 08:32] taooceros commented on #313
@jjw24 Would you please create a breaking point within the continueWith method to check t.IsCompletedSuccessfully, t.IsCompleted, and t.IsFaulted when the error message pop out unexpectly?
Or you can simply check t.Status and check which status it is in.

[2021-01-27 09:16] jjw24 commented on #313
Yeah I got it writing to log including status, will update if I hit it again, it's quite random

[2021-01-27 10:49] #262 closed

[2021-01-27 10:50] taooceros commented on #313
ok, thank you!

[2021-01-28 12:39] thunderousleader10 opened #317 "Is it possible to sort Everything query results by date modified?"
How do I sort results by date modified?

I am aware of the dm: functions but the results with this criteria are still sorted by name. I am looking to be able to simply sort the results by most recently modified.

This is easy in the stand-alone Everything app as there are column headers but I can't find how to replicate this in FlowLauncher...

Any ideas?

[2021-01-28 12:48] taooceros commented on #317
Yes, it is possible.
So, it is about the everything plugin? If so, maybe you can open an issue on the plugin page.
https://github.com/Flow-Launcher/Flow.Launcher.Plugin.Everything

[2021-01-30 20:20] thunderousleader10 commented on #317
Yes the question is about the Everything plugin and I have asked the same question on that page. Could you help me please? thanks!

[2021-01-31 04:23] harrynull commented on #170
Thank you for porting my Dictionary plugin!

[2021-01-31 05:16] jjw24 commented on #170
@harrynull would you be keen to create an empty Flow.Launcher.Dictionary (or any name you like) and I can push to the port to it, because it is currently under me as a fork and not discoverable via github search. It would be nice if people can also search for it.

[2021-01-31 06:54] harrynull commented on #170
@jjw24 Definitely! I've created an empty repo and granted you write access to it if that is what you mean :)

[2021-01-31 08:00] jjw24 commented on #170
Done, future downloads from Flow will be from that repo 👍

[2021-02-02 07:16] taooceros commented on #317
Close because we shall investigate this more on https://github.com/Flow-Launcher/Flow.Launcher.Plugin.Everything.

[2021-02-02 07:16] #317 closed

[2021-02-02 09:43] #136 closed

[2021-02-03 05:52] deefrawley opened #322 "Many exceptions in log file post 1.7 update"
**Describe the bug/issue**
Just upgraded to v1.7 and getting a lot of exceptions in the log file. My currency converter plugin (python) also isn't working, though other plugins seem ok.

**Your System**
[code]
**Flow Launcher Error Log**

Attached.

[2021-02-03.txt](https://github.com/Flow-Launcher/Flow.Launcher/files/5916374/2021-02-03.txt)

[2021-02-03 07:52] taooceros commented on #322
[code]
This may due to the Interface changed in v1.7.0. I will update everything plugin to accomodate the change. But that's weird because it doesn't happen when we are testing.

[2021-02-03 07:54] taooceros commented on #322
[code]
This seems caused by the JSON library change.

[2021-02-03 07:56] taooceros commented on #322
The reason that your plugin may not work may caused by the issue of JSONRPC issue. I will take a look on that, and reach out soon.
Thank you so much for reporting the issue, and I am sorry for the inconvenience.

[2021-02-03 08:05] taooceros commented on #322
I don't understand why these various issue doesn't happen when we are testing. I will mark v1.7.0 as pre-release until this has been fixed.
So sorry for the inconvience.

[2021-02-03 08:08] kubalav opened #323 "Colors plugin installation error (Plugin Manager)"
I try to install Colors plugin via Plugin Manager. I use portable version Flow Launcher 1.7.0.
Log:
[code]

[2021-02-03 08:14] taooceros commented on #323
Is portable version of v1.7.0 working? Because seems that the installed version has some issue generated in the build process, which cause v1.7.0 load assembly fail a lot.

@jjw24 Would you please take a look on this issue, since I am not quite sure how the installation process work?

[2021-02-03 08:24] kubalav commented on #323
I updated portable version from 1.6.0 to 1.7.0 and it works except Everything plugin (old version 1.2.0) I want to update it, but error occurred:
[code]

[2021-02-03 08:35] deefrawley commented on #322
No worries. I don't do any coding in VS / dot net (just python and VS Code) so perhaps I don't have the libraries and SDKs that you guys use. I can do a full uninstall/fresh reinstall of Flow if you're interested to see what happens?

[2021-02-03 08:46] taooceros commented on #323
I think it is the same issue.

[2021-02-03 08:56] jjw24 commented on #323
this 1.7.0 build is from CI, let me check.

[2021-02-03 08:59] jjw24 commented on #322
This one maybe because Everything plugin packs its own infrastructure dll if i remember correctly, which contains a very old version of fuzzy search

[2021-02-03 09:10] jjw24 commented on #322
these exceptions are caused from the Everything and CurrencyCoverter plugin. Everything throws a missing method, which maybe due to the old dll, and CC throws the json dll collision exception, which is unknown to me. Each plugin uses its own dll library unless it's also referenced in the Plugin project, which then the AssemblyLoader will update the path to the dll path in from the Plugin project.

[2021-02-03 09:18] jjw24 commented on #323
i think the issue is the Move method used by PluginsManager. @kubalav are you using the portable on a different drive?

[2021-02-03 09:18] taooceros commented on #322
![image](https://user-images.githubusercontent.com/45326534/106724988-b5e77000-65bd-11eb-94d6-1abb7473af1b.png)
Get an error when testing

[2021-02-03 09:22] jjw24 commented on #322
this is a python plugin, and those libraries such as the one in screenshot => dotenv requires you to use python's pip to install. if you dont know python, i can take a look

[2021-02-03 09:42] taooceros commented on #322
Oh I get it. I can take a try, since I think the main issue is Json

[2021-02-03 09:45] taooceros commented on #322
ok, find the issue.
![image](https://user-images.githubusercontent.com/45326534/106728579-73279700-65c1-11eb-9406-f749625c71e6.png)
Why there is two Result here

[2021-02-03 09:55] taooceros commented on #322
I think this is a design issue....We are not supposed to have two property that has the same name but with different type and meaning even though we use `new` to conver it.

[2021-02-03 09:56] jjw24 commented on #323
@kubalav could you try this build and see if the problem is resolved please:
https://ci.appveyor.com/api/buildjobs/lpligmo5l7ibv1r7/artifacts/Output%2FPackages%2FFlow-Launcher-v1.7.0.exe

[2021-02-03 09:58] taooceros commented on #322
@deefrawley https://ci.appveyor.com/api/buildjobs/vuoqy82qn9ru2x5t/artifacts/Output%2FPackages%2FFlow-Launcher-v1.7.0.exe Please take a try. In my computer, it fixes the python plugin issue.

[2021-02-03 10:05] jjw24 commented on #322
from reading, you could with old json, new json you can't. That's why this issue surfaced.

[2021-02-03 10:06] taooceros commented on #322
Yes, that's the issue.

[2021-02-03 11:01] kubalav commented on #323
@jjw24 It working! Thank you.

[2021-02-03 11:01] #323 closed

[2021-02-03 22:14] deefrawley commented on #322
Fresh install of @taooceros package above, with a clean install of the currency converter plugin and the Everything plugin and all works, no exceptions in the log except what looks like some indexing exceptions that end with

`Possible interpretation of the error: Error caused likely due to trying to get the description of the program
Possible resolution: Can be ignored and Flow Launcher should st

[2021-02-03 22:20] taooceros commented on #322
So it works?

[2021-02-03 22:28] taooceros commented on #322
I think the everything issue has also been resolved in another resipository, so I will close this.

[2021-02-03 22:28] #322 closed

[2021-02-05 07:40] taooceros opened #328 "Lower score for matching on the middle"
![image](https://user-images.githubusercontent.com/45326534/107003837-4353cd00-6742-11eb-8a93-bf11425ea3e3.png)
I think we should lower the score for this matching.

[2021-02-05 17:56] skjerns commented on #303
Great that this was implemented. However, could the interval be a bit shorter? 3 days seems a bit infrequent. Either it could be a setting, or else every few hours?

[2021-02-07 02:55] zany130 commented on #170
so a couple of wox plugins I was able to get to work by just copy pasting them from the wox plugins folder into flow plugin folder.
these are:

define
http://www.wox.one/plugin/94

FancyEmoji
https://github.com/821C3/Wox.Plugin.FancyEmoji

isPrime
https://github.com/lvonkacsoh/wox-plugin-isPrime

Synonymer
https://github.com/Plasma-Paris/Wox.Plugins/tree/master/Wox.Plugin.Synonym

Translator
http:

[2021-02-07 08:11] jjw24 commented on #328
this is a match from fuzzy not acronym i think

[2021-02-07 08:16] jjw24 commented on #282
this should be fixed

[2021-02-07 08:16] #282 closed

[2021-02-07 10:51] taooceros commented on #328
Yeah it is from fuzzy. The score of fuzzy is calculated based on the nearest space.

[2021-02-08 17:31] taooceros commented on #170
@zany130 I port UrlEncode and IPAddress, and they will be in the manifest soon.

[2021-02-09 02:57] jjw24 commented on #170
@katchy3132 Putty has been ported

[2021-02-13 04:36] taooceros opened #337 "Accessing Flow.Launcher.Infrastructure?"
**Question**
Should we allow plugins to access Infrastructure namespace? It seems quite hard to port all utility method to Plugin namespace, and the plugin namespace seems originally supposed to only store models.

[2021-02-13 10:45] #265 closed

[2021-02-13 10:46] jjw24 opened #338 "Prompt user whether to clean up Plugin's setting during uninstall"
PluginsManager to prompt user whether to clean up Plugin's setting during plugin uninstallation

[2021-02-13 11:43] jjw24 commented on #86
Closing, please reopen if still an issue.

[2021-02-13 11:44] #86 closed

[2021-02-14 01:24] #286 closed

[2021-02-14 07:21] jjw24 commented on #337
Yeah I think that should be fine

[2021-02-14 07:23] jjw24 commented on #337
Maybe we should move share SharedCommands into Core so Core is where the shared commands will also live, and Plugin is just interface and models.

[2021-02-14 07:31] taooceros commented on #337
I think you mean infrastructure because core should be the place that we don't want external plugin to access.
I agree with you that we should do this if we decide to let infrastructure available to Plugins.

[2021-02-14 08:14] jjw24 commented on #337
Well from my perspective Core should contain additionally the core functionalities to Flow. Whether they need to be exposed is entirely controlled via the plugin interface right. Infrastructure project is the logging, settings, user location data management side of things.

What do you mean by let infrastructure available to Plugins? I thought you would do it the same way you have done for string

[2021-02-14 08:32] taooceros commented on #337
Well I think the Core contains some core functionalities that we don't want plugins to access, like `PluginManager`, direct access to `internationalization`, etc. So moving the shared command to Core may be weird because we do want plugins to have access to them.

Well, PT run is allowing Infrastructure to Plugin as a separate dependency. I am not sure whether we shall do that, or it would be bett

[2021-02-14 09:43] jjw24 commented on #337
I would be leaning towards the last option, let plugin access them by IPluginAPI, Save and Load. Any models can go in shared model folder, like how you have done for StringMatcher. Would you think there will be potential issues this way?

[2021-02-14 09:46] taooceros commented on #337
Weel one issue is that the IPublicAPI may grow quite large, but that shouldn't be a really large issue.
I think we need to try it, and then we will find some issues or no issues.

[2021-02-14 09:49] jjw24 commented on #337
As long as they are just models and keep the actual logic in infra, I think it will be fine.

[2021-02-14 19:45] #337 closed

[2021-02-15 09:48] jjw24 commented on #307
@skjerns This issue should be fixed, but 1.8.0 may not get released for a while, you can download the build here to use it https://ci.appveyor.com/api/buildjobs/8k1g0edbeqxlbqwk/artifacts/Output%2FPackages%2FFlow-Launcher-v1.7.1.exe

[2021-02-15 10:20] #313 closed

[2021-02-15 11:43] skjerns commented on #307
thanks! I'll try it out!

[2021-02-15 11:54] skjerns commented on #307
What is still missing is automatic indexing of `C:\ProgramData\Microsoft\Windows\Start Menu` - could that be added? Quite a few programs are using this as the default

[2021-02-15 11:56] taooceros commented on #307
Weird I remember that's included. Have you selected the option to index start menu?

[2021-02-15 11:59] skjerns commented on #307
I just saw: It is included, however, there is a program missing that should be there: `NeuroBS Presentation`

![image](https://user-images.githubusercontent.com/14980558/107943861-953ff280-6f8d-11eb-94e1-28d89de2a708.png)

It is showing up in the start menu, but not in wox

![image](https://user-images.githubusercontent.com/14980558/107943935-adb00d00-6f8d-11eb-8f4d-fd3e631a1c3f.png)

[2021-02-15 12:04] taooceros commented on #307
I will take a look soon. AFKing now. Maybe there are multiple lnk pointing to the same exe but both of them doesn't contain descriptions so none of them are kept.
This may be a logic issue on hashing.
Thank you for pointing that out!

[2021-02-15 15:34] skjerns commented on #307
thanks! by the way, this is the link

![image](https://user-images.githubusercontent.com/14980558/107966041-9aac3580-6fab-11eb-989f-4a7b3c4532e6.png)

However, there is something strange on the second tab:

![image](https://user-images.githubusercontent.com/14980558/107966128-b4e61380-6fab-11eb-9c3c-0e466e5912b5.png)

[2021-02-15 16:51] taooceros commented on #307
emmm that's werid. I think this will be stored as log, so would you please share the log with me so that I can check whether it is problem when loading the lnkprogram?

[2021-02-15 17:02] skjerns commented on #307
Logfile reports the following

[code]

[2021-02-15 17:44] taooceros commented on #307
ok, so it is not because of lnkprogram issue, check out this build. https://ci.appveyor.com/api/buildjobs/6sx2mp18s8lwkca7/artifacts/Output%2FPackages%2FFlow-Launcher-v1.7.1.exe

[2021-02-15 18:32] skjerns commented on #307
![image](https://user-images.githubusercontent.com/14980558/107982569-92acbf80-6fc4-11eb-9535-33842f83484e.png)

now the help gets shown, but the main program not haha

[2021-02-15 18:34] skjerns commented on #307
[code]

[2021-02-15 21:19] jjw24 opened #345 "Dev branch Stream length not supported"
![image](https://user-images.githubusercontent.com/26427004/107993882-9de90500-702f-11eb-9f60-de135df8b91f.png)

[2021-02-16 02:15] taooceros commented on #307
The logs is fine. These errors are normal. Would you please show me with the target program of these lnk?

[2021-02-16 02:21] taooceros commented on #345
ok get it, I will fix that soon.

[2021-02-16 05:54] skjerns commented on #307
it's NeuroBS Presentation player, you can download the installer here:

https://www.neurobs.com/menu_presentation/menu_download/process_download?user_id=10&version=22.1&build=01.21.21&bit=1&player=0

[2021-02-16 07:23] taooceros commented on #307
@skjerns I found the issue. Both of them resolve to the same path, so that only one of them are kept.

[2021-02-16 07:30] taooceros commented on #307
![image](https://user-images.githubusercontent.com/45326534/108031440-b3d1d800-6fe5-11eb-8837-ec4e0f885904.png)
my antivirus program actually block it, suggesting that it contains trojan.....Not sure why.

[2021-02-16 07:49] skjerns commented on #307
I'm pretty sure there is no virus inside, it's a product that costs several thousand dollars. `HEUR` means the heuristic rules determined that it was maybe containing malicious code, this could be due to anything, e.g. code that makes the taskbar dissappear, etc. Usually the heuristics have a lot of false positives compared to hash methods

[2021-02-16 07:52] taooceros commented on #307
Oh haha understand. No problem for that. I am not sure how we should resolve this issue. Maybe we should make the list we registered manually outside the one that will be checked for duplicate.
Let me take a try, and I will reach out back.

[2021-02-16 08:00] taooceros commented on #307
@skjerns https://ci.appveyor.com/api/buildjobs/60w6675kijv0378n/artifacts/Output%2FPackages%2FFlow-Launcher-v1.7.1.exe
check out this build, and manually add the folder containing the Presentation program to the program source.
This may create an extra duplicate that kept by autoindexing, maybe I can add a distinct to that to check whether it works.

[2021-02-16 08:10] #345 closed

[2021-02-16 08:11] taooceros commented on #307
@skjerns sorry for re-asking to try so frequently XD, I just implement the thing I describe on the last comment. It works, and only one result will be stored.

[2021-02-16 08:14] taooceros commented on #307
Here is the artifact @skjerns https://ci.appveyor.com/api/buildjobs/mi155t89nran6cwn/artifacts/Output%2FPackages%2FFlow-Launcher-v1.7.1.exe

[2021-02-16 08:18] jjw24 commented on #307
Could the documentation use an argument to pass through a parameter to the executable to bring up help? Surely both entries can't be running the program

[2021-02-16 08:24] taooceros commented on #307
I don't know how this programs works. but seems not quite possible

[2021-02-16 08:26] jjw24 opened #347 "Main window's result list does not collapse"
hm looks like result list box is not collapsing, ran into this occasionally.

![image](https://user-images.githubusercontent.com/26427004/108036419-504eb580-708c-11eb-90b8-91f4f1baeaf9.png)

@taooceros any ideas? Nothing in the logs, and not sure how to repro reliably yet

[2021-02-16 08:28] jjw24 commented on #347
removed one letter- 's'
![image](https://user-images.githubusercontent.com/26427004/108037070-29dd4a00-708d-11eb-97be-5c23de36aac6.png)

[2021-02-16 08:30] jjw24 commented on #347
subsequent results do not fill the entire result list box. This only resets if the activation hot key or esc is pressed

[2021-02-16 08:32] jjw24 commented on #307
If you look at the property of the shortcut, does it show any arguments being passed through to the executable?

[2021-02-16 08:36] taooceros commented on #307
![image](https://user-images.githubusercontent.com/45326534/108037872-05cb2b80-6fef-11eb-9e93-6b3a1ea632ca.png)
No, I don't understand how this works.

[2021-02-16 08:44] taooceros commented on #347
![image](https://user-images.githubusercontent.com/45326534/108038793-1def7a80-6ff0-11eb-9598-5091b56d94d6.png)
Weird, I didn't get the same result.

[2021-02-16 09:36] skjerns commented on #307
I think this is a different style lnk created by windows installer, might be connected to App Store stuff.

see also the source code of the lnk, maybe that helps?
[code]

[2021-02-16 10:00] taooceros commented on #307
Yeah the issue is that all the link points to the same program, so the hasher will view them as one.
Therefore, I think we can only do that by manually adding it to index as I suggest before.

[2021-02-16 10:21] skjerns commented on #307
however, how does windows figure out which program to run? It can't be entirely the same program

also the icon is different, so that might be used as a distinguishing feature?

[2021-02-17 04:14] Zeroto521 commented on #306
I thought extending the **theme** tab page function would be better.

![image](https://user-images.githubusercontent.com/25895405/108155337-ab7ab980-7119-11eb-80db-8c82d3b7e5b6.png)

[2021-02-18 09:40] jjw24 opened #350 "Add link in flow's settings About page to docs page"
Add link in flow's settings About page to docs page
https://flow-launcher.github.io/docs

[2021-02-18 09:49] jjw24 commented on #306
Yes agree that's what I mean, launched from within flow

[2021-02-18 10:25] jjw24 opened #351 "do not remove settings if plugin update"
currently the action keyword of the plugin being updated is removed every time in the general settings. This should only occur during removal

[2021-02-18 10:44] 7yang7 commented on #170
Hello. I really need a translator, one of these or another:
http://www.wox.one/plugin/173
http://www.wox.one/plugin/60

[2021-02-18 12:45] taooceros commented on #170
Both of them don't share the source code, so I guess it maybe hard to port them to flow.... 😂

[2021-02-18 16:10] 7yang7 commented on #170
Russian translation needed

[2021-02-18 21:18] #351 closed

[2021-02-19 11:14] taooceros commented on #170
I am not able to port the Google Translate plugin because of the change of googel api. However, I do create a plugin based on LibreTranslation (it seems not as good as Google Translation for Chinese, but I am not sure about russian. However, thank them so much for providing the free api).  You can take a try on it.

[2021-02-19 12:39] 7yang7 commented on #170
Thanks for the plugin! Unfortunately, some words are not translated into Russian :( . But this is better than nothing.

[2021-02-19 12:42] taooceros commented on #170
Yeah that's happening in Chinese translation as well. Hope they will get through that issue soon. 🙂

[2021-02-20 12:22] WallBreakerNO4 opened #354 "didn't work"
Flow Launcher version: 1.7.1
OS Version: Microsoft Windows NT 10.0.19041.0
IntPtr Length: 8
x64: True

Python Path:
Date: 02/20/2021 20:20:14
Exception:
System.UriFormatException: Invalid URI: The hostname could not be parsed.
   at System.Uri.CreateThis(String uri, Boolean dontEscape, UriKind uriKind)
   at System.Uri..ctor(String uriString)
   at Flow.Launcher.Infrastructure.Http.Http.UpdateProx

[2021-02-20 13:37] taooceros commented on #354
Seems that the error comes from proxy phrase. Are you using the http proxy?

[2021-02-20 13:41] taooceros commented on #354
By the way, just personal curious, are you guo zhifan🤔?

[2021-02-21 02:34] taooceros opened #355 "Separate actionkeyword of directory and index search"
Separate the actionkeyword of the directory and index search.

[2021-02-21 02:36] taooceros opened #356 "File orderby date modified"
File order lists by date modified of folder content or index search.
Similar to https://github.com/Flow-Launcher/Flow.Launcher.Plugin.Everything/issues/7 is requesting.

[2021-02-21 07:04] taooceros commented on #187
Sorry, I think I have misunderstood your issue for a while, and I do think it is quite useful to choose a different shell to execute command (such as windows terminal) even if we can execute it within another command prompt that is already supported.
It will be planned, now.

[2021-02-21 07:40] solymr opened #357 "Application crash from time to time"
**Describe the bug/issue**
Flow launcher just crash from time to time on my windows.
Seems the crash happens randomly. for example, sometimes I left my computer for launch, and when I came back and continue using it, sometimes I just found the hotkey to activate it did not work. And then I checked the tray icon, just to see it was not here. There was no error notification.
Reopen the app can fix i

[2021-02-21 07:43] taooceros commented on #357
Will take a look now. It seems a bug of we don't cover taskcancelledexception in auto update checking. Therefore, if the update check timeout, the error will be uncaught. However, why should that crash the program?

[2021-02-21 07:49] taooceros commented on #357
@solymr try this build https://ci.appveyor.com/api/buildjobs/c2cdwvfraojyfq7p/artifacts/Output%2FPackages%2FFlow-Launcher-v1.7.1.exe

[2021-02-21 10:57] WallBreakerNO4 commented on #354
yes, I'm using Clash

[2021-02-21 10:58] WallBreakerNO4 commented on #354
how did you know that?

[2021-02-21 11:01] taooceros commented on #354
We are on the same high school before. 🧐🤯

[2021-02-21 11:01] taooceros commented on #354
Would you please share me with your proxy setting of Flow?

[2021-02-22 02:15] WallBreakerNO4 commented on #354
I just install it, I didn't change any setting

[2021-02-22 02:27] jjw24 commented on #47
This is done

[2021-02-22 02:27] #47 closed

[2021-02-22 02:29] jjw24 commented on #347
Revisit when we can properly repro

[2021-02-22 02:29] #347 closed

[2021-02-22 02:43] taooceros commented on #354
OK, I have taken a look, and the crash isn't from the parse of proxy, but another error. Will take a look soon.

2021-02-20 20:19:20.8584|FATAL|UnHandledException| ## Exception ``` System.NullReferenceException: Object reference not set to an instance of an object. Source: Flow.Launcher TargetAssembly: Flow.Launcher, Version=1.7.1.0, Culture=neutral, PublicKeyToken=null TargetModule: Flow.Launcher

[2021-02-22 03:53] taooceros commented on #354
@WallBreakerNO4 try this build https://ci.appveyor.com/api/buildjobs/q54n016vqjox5b7s/artifacts/Output%2FPackages%2FFlow-Launcher-v1.7.1.exe

[2021-02-22 05:20] taooceros commented on #354
This seems a crucial bug for new users, so if it works for you @WallBreakerNO4, we will soon create a small release for the bug fix.

[2021-02-22 07:10] WallBreakerNO4 commented on #354
By the way, you mean watch high school, I don't remember you

[2021-02-22 07:24] taooceros commented on #354
Vanke Meisha Academy

[2021-02-22 10:04] #307 closed

[2021-02-22 10:31] #354 closed

[2021-02-22 11:39] jjw24 commented on #170
We now have a document on how to port .Net plugins, if you are a .net dev interested in bringing some plugins across to Flow:
https://flow-launcher.github.io/docs/#/port-plugins

Updates to make it more clearer is welcome too

[2021-02-23 01:21] solymr commented on #357
Tried yesterday，but it crashed again at night.
I turned off auto update today, just to see if it will crash again.

[2021-02-23 01:23] taooceros commented on #357
Thank you, I will reopen it.

[2021-02-23 01:41] taooceros commented on #357
@solymr try this one https://ci.appveyor.com/api/buildjobs/a3casa1a6x3xac3b/artifacts/Output%2FPackages%2FFlow-Launcher-v1.7.2.exe
My bad, I use the wrong exception handling

[2021-02-23 08:18] hongyuanjia opened #365 "A config file for Flow Launcher"
It would be great if Flow Launcher has a config file that describes the plugins installed and other settings. Users can import that file to automatically recover Flow Launcher to the state that they like. This could be very useful when I reinstall Windows on my PC.

Besides a config file, it would be good if Flow Launcher provides some guides on how to backup as an alternative.

BTW, thanks for th

[2021-02-23 08:21] taooceros commented on #365
That's a great idea! For now, we don't support plugins recover, but it will be quite possible to backup the config files and user histroy by saving the files lies within %appdata%\FlowLauncher\Settings.

[2021-02-23 08:55] jjw24 commented on #365
Backing up this entire folder %appdata%\FlowLauncher, would return your flow back to how it was, with the exception of the saved folder and file path maybe incorrect if those locations change.

I think it's a good idea to have a button somewhere to open this data folder location, I will out in an issue for future add.